---
layout: deal
nav-title: Category
title: Browse Blue365 Deals
permalink: /category
body-class: 'archive'
---
  
<div class="grid grid__rail-left deal-archive">
	
	<h1 class="layout__title screen-reader-text">All and Filtered Deals</h1>
	
	<aside class="grid__item grid__item__rail deal__filters">
		{% include deals/search-filters.html %}
	</aside>
	
	<div class="grid__item grid__item__main">
		
		<div class="grid grid--archive">
      {% include deal-card-1.html %}
      
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
    </div>
    
    <div class="load-more">
      <a href="#" class="button button__primary">Load More +</a>
    </div>
    
	</div>
</div>
