---
layout: deal
nav-title: Category
title: Browse Blue365 Deals
permalink: /category
body-class: 'archive'
---
  
<div class="grid grid__rail-left deal-archive">
	
	<h1 class="layout__title screen-reader-text">All and Filtered Deals</h1>
	
	<aside class="grid__item grid__item__rail deal__filters">
		{% include deals/search-filters.html %}
	</aside>
	
	<div class="grid__item grid__item__main">
		
		<div class="grid grid--archive">
      {% include deal-feature.html %}
      
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
    </div>
    
    <div class="load-more">
      <p class="load-more__current">Showing 12 of 60</p>
      <p><a href="#" class="button button__primary">Load 12 More</a></p>
    </div>
    
	</div>
</div>
