---
layout: deal
nav-title: All Deals
title: Blue365 Deals
permalink: /flow-2
body-class: 'flow-2-body'
---
  
<div class="deal-archive">
	
	<div class="grid grid__rail-right">
  	<div class="grid__item grid__item__main">
  		<h1 class="layout__title">All Deals</h1>
		</div>
		<aside class="grid__item grid__item__rail deal__filters">
  		{% include deals/search-filters.html %}
  	</aside>
  </div>

	<div class="grid grid--flow-2-archive">
    {% include deal-card-2.html %}

    {% include deal-card-2.html %}
    {% include deal-card-2.html %}
    {% include deal-card-2.html %}

    {% include deal-card-2.html %}
    {% include deal-card-2.html %}
    {% include deal-card-2.html %}

    {% include deal-card-2.html %}
    {% include deal-card-2.html %}
    {% include deal-card-2.html %}

    {% include deal-card-2.html %}
    {% include deal-card-2.html %}
    {% include deal-card-2.html %}
  </div>
    
  {% include pagination.html %}
    
</div>
