---
layout: deal
nav-title: All Deals
title: Blue365 Deals
permalink: /flow-1
body-class: 'flow-1-body logged-out'
---
  
<div class="grid grid__rail-left deal-archive">
	
	<aside class="grid__item grid__item__rail">
		<p>Search Filters</p>
	</aside>
	
	<div class="grid__item grid__item__main">
		
		<div class="grid grid--trio-small">
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
      
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
      
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
      
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
    </div>
    
    {% include pagination.html %}
    
	</div>
</div>
