---
layout: deal
nav-title: All Deals
title: Blue365 Deals
permalink: /flow-2
body-class: 'flow-2-body logged-out'
---
  
<div class="grid grid__rail-left deal-archive">
	
	<aside class="grid__item grid__item__rail deal__filters">
		{% include deals/search-filters.html %}
	</aside>
	
	<div class="grid__item grid__item__main">
		
		<div class="grid grid--trio-small">
      {% include deal-card.html %}
      
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
      
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
      
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
      
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
    </div>
    
    {% include pagination.html %}
    
	</div>
</div>
