---
layout: deal
nav-title: Tivity Health® Fitness Your Way
title: Tivity Health® Fitness Your Way
permalink: /flow-1-logged-out
body-class: 'flow-1-body logged-out'
---

{% include deals/deal-1.html %}

{% include deals/recirculation.html %}

<!-- Modals -->
<div id="signin-modal" class="modal mfp-hide">
  <div class="modal__wrapper">
    {% include modals/signin-join.html %}
  </div>
</div>
<div id="eligible-modal" class="modal mfp-hide">
  <div class="modal__wrapper">
    {% include modals/signin-eligibility.html %}
  </div>
</div>
<div id="join-modal" class="modal mfp-hide">
  <div class="modal__wrapper">
    {% include modals/join.html %}
  </div>
</div>
