---
layout: deal
nav-title: For Employers
title: For Employers
permalink: /for-employers-flow-2
body-class: 'for-employers flow-2-body'
---

<div class="grid grid__rail-left sidebar--rail-left">
  <aside id="wayfinding" class="grid__item grid__item__rail">
    <div class="wayfinding__wrapper js-adhesive">
      
      <div class="sidebar sidebar--navigation">
        <h4 class="sidebar__title">Blue365 For Employers</h4>
        <ul class="sidebar__list menu" role="navigation">
    			<li><a href="#why" class="js-smooth-scroll">Why Blue365</a></li>
    			<li><a href="#motivate" class="js-smooth-scroll">Motivate &amp; Incentivize</a></li>
    			<li><a href="#get-started" class="js-smooth-scroll">Get Started with Blue365</a></li>
    			<li><a href="#check" class="js-smooth-scroll">– Check Eligibility</a></li>
    			<li><a href="#share" class="js-smooth-scroll">– Share and Print</a></li>
    			<li><a href="#email" class="js-smooth-scroll">– Use an Email Template</a></li>
    			<li><a href="#demo" class="js-smooth-scroll">Request a Demo</a></li>
    		</ul>
  		</div>
  		
    </div>
  </aside>
  <div class="grid__item grid__item__main">
    
{% include for-employers.html %}

  </div>
</div>

<div id="eligible-modal" class="modal mfp-hide">
  <div class="modal__wrapper">
    {% include modals/signin-eligibility.html %}
  </div>
</div>