---
layout: deal
nav-title: Home
title: Welcome to Blue365
permalink: /index
body-class: 'b365-home'
---

<div class="new-home">
  
  <div class="new-home__feature-row">
    
    <div class="new-home__what-is-row light-blue">
      <h2 class="charlie">Welcome Blue Members</h2>
      <p>Blue365 offers access to health and wellness deals exclusive to Blue members. We feature exclusive deals from brands that you trust that are easy to redeem. There are no membership fees or limits on how much you could save!</p>
      <p><a href="#eligible-modal" class="button button__primary js-inline-modal">Check your Eligibility!</a></p>
    </div>
    
    <!-- Carousel -->
    <div class="new-home__carousel">
      <div class="new-home__carousel__container">
        <ul class="menu">
          <li>
            <div class="grid grid__third-left new-home__carousel__slide">
              <div class="grid__item new-home__carousel__slide__content">
                <div class="new-home__carousel__slide__flash">
                  Flash Sale! <span class="fa fa-bolt" aria-hidden="true"></span> ends in 8hrs
                </div>
                <a href="{{ site.baseurl }}deal.html">
                  <h2 class="echo">Tivity Health® Fitness Your Way</h2>
                  <h3 class="charlie">Access to 9,500+ Gyms Nationwide through Tivity Health® Fitness Your Way</h3>
                  <p class="new-home__carousel__slide__action">
                    <span class="button button__primary">More Details</span>
                  </p>
                </a>
              </div>
              <div class="grid__item new-home__carousel__slide__img">
                <a href="{{ site.baseurl }}deal.html" class="new-home__carousel__link">
                  <img src="http://fpoimg.com/1200x675?text=16:9 Feature" alt="">
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="new-home__carousel__controls">
        <ul class="menu">
          <li><span class="fa fa-chevron-left" aria-hidden="true"></span></li>
          <li><span class="fa fa-circle" aria-hidden="true"></span></li>
          <li><span class="fa fa-circle" aria-hidden="true"></span></li>
          <li><span class="fa fa-circle" aria-hidden="true"></span></li>
          <li><span class="fa fa-circle" aria-hidden="true"></span></li>
          <li><span class="fa fa-chevron-right" aria-hidden="true"></span></li>
      </div>
    </div><!-- // end .new-home__carousel -->
    

  </div><!-- .new-home__feature-row -->
  
  
  <div class="new-home__deals-row">
    <div class="grid grid__rail-left deal-archive">

    	<aside class="grid__item grid__item__rail deal__filters">
    		<h3 class="">Explore Deals by Category:</h3>
    		<ul class="menu">
    		  {% include navigation/deal-categories.html %}
    		</ul>
    	</aside>
    	<div class="grid__item grid__item__main">
    		<div class="grid grid--archive">
          {% include deal-card-1.html %}
          {% include deal-card-1.html %}
          {% include deal-card-1.html %}
          {% include deal-card-1.html %}
        </div>
    	</div>
    </div>
    
  </div><!-- // .new-home__deals-row -->
  
  
  <div class="new-home__who-are-you light-blue">
    
    <h1>Because Health is  Big Deal</h1>
    <p>Gain access to health- and wellness-related deals on fitness products, gym memberships, healthy eating and more. Open to businesses, families and individuals who are members of participating BlueCross BlueShield companies. <a href="#">Learn More</a></p>
    
    <h2 class="screen-reader-text">Blue365 Features</h2>
    <div class="grid grid--quartet">
      <div class="grid__item entry-content">
        <span style="display: block; font-size: 300%; text-align: center;"><span class="fa fa-hand-peace-o" aria-hidden="true"></span></span>
        <p style="text-align: center;">Handpicked deals from premium brands that you recognize</p>
      </div>
      <div class="grid__item entry-content">
        <span style="display: block; font-size: 300%; text-align: center;"><span class="fa fa-money" aria-hidden="true"></span></span>
        <p style="text-align: center;">Better discounts than other health savings programs across nearly all categories</p>
      </div>
      <div class="grid__item entry-content">
        <span style="display: block; font-size: 300%; text-align: center;"><span class="fa fa-users" aria-hidden="true"></span></span>
        <p style="text-align: center;">Exclusive offers only available to Blue365 members</p>
      </div>
      <div class="grid__item entry-content">
        <span style="display: block; font-size: 300%; text-align: center;"><span class="fa fa-calendar" aria-hidden="true"></span></span>
        <p style="text-align: center;">Year-round discounts—no limited supplies, no limits on savings</p>
      </div>
    </div>
    
    <div class="new-home__who-are-you__testimonial">
      <figure>
        <blockquote>
          <p>With Blue365 I got a great discount on a gym membership. I stuck with it and am currently keeping off 25 pounds.</p>
        </blockquote>
        <figcaption>– Jim Derentis, Grand Rapids, Michigan</figcaption>
      </figure> 
    </div>
    
    <div class="b365-home__section b365-home__brands">
      <h3 class="b365-home__brands__title">Partner Brands You Know and Trust</h3>
      <div class="grid grid--sextet">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <div class="grid__item">
          <img src="{{ site.baseurl }}assets/logos/hrmusa_logo.png" alt="">
        </div>
        <div class="grid__item">
          <img src="{{ site.baseurl }}assets/logos/back_to_school_logo.png" alt="">
        </div>
        <div class="grid__item">
          <img src="{{ site.baseurl }}assets/logos/petplan_rgbcolor_300dpi.jpg" alt="">
        </div>
        <div class="grid__item">
          <img src="{{ site.baseurl }}assets/logos/truhearing_logo_2015.png" alt="">
        </div>
        <div class="grid__item">
          <img src="{{ site.baseurl }}assets/logos/QS_LASIK_Logo2.jpg" alt="">
        </div>
        <div class="grid__item">
          <img src="{{ site.baseurl }}assets/logos/invite_health_logo.jpg" alt="">
        </div>
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </div>
    </div>
    
    <div class="new-home__who-are-you__join-now">
      <h4>Take advantage and Start Today!</h4>
      <div class="new-home__who-are-you__join-now__action"><a href="#join-modal" class="button button__primary js-inline-modal">Join Now</a></div>
      <p><a href="{{ site.baseurl }}for-employers.html">Learn more about Blue365 for Employers</a></p>
    </div>
    
  </div><!-- // .new-home__feature -->

  
  
</div>