---
layout: deal
nav-title: Home
title: Welcome to Blue365
permalink: /index_old
body-class: 'b365-home'
---

<div class="b365-home__feature__container">
  
  <div class="grid grid__third-left reverse-order">
    <div class="grid__item b365-home__about">
      
      <div class="entry-content">
        <div class="logged-out">
          
          <h2 class="charlie">Welcome BlueCross BlueShield Members</h2>
          <p>Blue365 offers access to health and wellness deals exclusive to Blue members. We feature exclusive deals from brands that you trust that are easy to redeem. There are no membership fees or limits on how much you could save!</p>
          <p><a href="#eligible-modal" class="button button__primary js-inline-modal">Check your Eligibility!</a></p>
          
        </div>
        <div class="logged-in">
          <h2 class="charlie">Welcome back, Giovana</h2>
          <p>What would you like to do today?</p>
          <p>
            <a href="{{ site.baseurl }}user-profile.html">Update your Profile</a><br>
            <a href="#">View my Favorites</a><br>
            <a href="#">Explore my History</a><br>
            <a href="{{ site.baseurl }}category.html">Browse Deals</a>
          </p>
        </div>
      </div>
      
    </div>
    <div class="grid__item">
      
      <!-- Feature -->
      <div class="b365-home__feature feature">
        <div class="feature__label outside">This week’s deal from <a href="{{ site.baseurl }}category.html"><span class="fa fa-shower" aria-hidden="true"></span> Personal Care</a></div>
        <a href="{{ site.baseurl }}deal.html" class="feature__link">
          <div class="feature__image js-ratio">
            <img src="http://fpoimg.com/1600x900?text=16:9 Feature" alt="">
            <span class="js-ratio-output"></span>
          </div>
          <div class="feature__content">
            <div class="feature__label inside">This week&rsquo;s deal from <span class="fa fa-shirtsinbulk" aria-hidden="true"></span> Personal Care</div>
            <div class="feature__title">
              <img src="{{ site.baseurl }}assets/img/Dental_Solutions.png" alt="Dental Solutions">
              <h2>20-50% Discounts to a Network of Dentists</h2>
            </div>
            <div class="feature__action">
              <span class="button button__primary">More Details</span>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
  
  <div class="b365-home__section">
    
    <div class="logged-out featured-deals">
      <h2 class="delta header-w-link">Featured Deals <a href="{{ site.baseurl }}category.html">Browse All Deals</a></h2>
    </div>
    <div class="logged-in suggested-deals">
      <h2 class="delta header-w-link">Suggested For You <a href="#" title="Find out why we picked these deals for you">Why?</a></h2>
    </div>
    <div class="grid grid--home">
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
      {% include deal-card-1.html %}
    </div>
  </div>
  
  
  <div class="b365-home__section">
    <div class="grid grid--duo">
    
      <div class="grid__item">
        <h2 class="delta">Related content from <a href="#">Healthy Tips</a>:</h2>
        <div class="related__news">
          <div class="blog-card__wrapper">
            <div class="blog-card__content entry-content">
              <a href="#" class="blog-card__link">
                <h3 class="blog-card__title">Healthy School Lunches done Five Ways</h3>
                <p class="blog-card__excerpt">Preparing creative lunches that kids will actually eat can be daunting. Here are five ways to make it easier that your kids will appreciate. <span class="blog-card__more">Read More</span></p>
              </a>
            </div>
          </div>
          <div class="blog-card__wrapper">
            <div class="blog-card__content entry-content">
              <a href="#" class="blog-card__link">
                <h3 class="blog-card__title">Get the Most from your Gym</h3>
                <p class="blog-card__excerpt">You have a gym membership, you have the gear. Now what? Our expert panel gives you ways to make the most of your membership. <span class="blog-card__more">Read More</span></p>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="grid__item promo__wrapper">
        <div class="entry-content">
          <div class="align-center">
            <h3>Healthier &amp; Happier Employees with Blue365 For Employers</h3>
          </div>
          <div class="align-center">
            <p>The Blue365 is a free benefit for members of participating <abbr title-"BlueCross BlueShield">BCBS</abbr> plans. Daily discounts, plus opportunities for bulk pricing on fitness products. </p>
            <p><a href="{{ site.baseurl }}for-employers.html" class="button button__primary">Learn More</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  
  <div class="b365-home__section b365-home__brands">
    <h3 class="b365-home__brands__title">Partner Brands You Know and Trust</h3>
    <div class="grid grid--sextet">
      <span class="fa fa-chevron-left" aria-hidden="true"></span>
      <div class="grid__item">
        <img src="{{ site.baseurl }}assets/logos/hrmusa_logo.png" alt="">
      </div>
      <div class="grid__item">
        <img src="{{ site.baseurl }}assets/logos/back_to_school_logo.png" alt="">
      </div>
      <div class="grid__item">
        <img src="{{ site.baseurl }}assets/logos/petplan_rgbcolor_300dpi.jpg" alt="">
      </div>
      <div class="grid__item">
        <img src="{{ site.baseurl }}assets/logos/truhearing_logo_2015.png" alt="">
      </div>
      <div class="grid__item">
        <img src="{{ site.baseurl }}assets/logos/QS_LASIK_Logo2.jpg" alt="">
      </div>
      <div class="grid__item">
        <img src="{{ site.baseurl }}assets/logos/invite_health_logo.jpg" alt="">
      </div>
      <span class="fa fa-chevron-right" aria-hidden="true"></span>
    </div>
  </div>
  
</div>