---
layout: deal
nav-title: Terms of Use
title: Terms of Use
permalink: /terms-of-use-flow-2
body-class: 'terms-of-use flow-2-body'
---

<div class="grid grid__rail-left sidebar--rail-left">
  <aside id="wayfinding" class="grid__item grid__item__rail">
    <div class="wayfinding__wrapper js-adhesive">
      
      <div class="sidebar sidebar--navigation">
        <h4 class="sidebar__title">Terms of Use:</h4>
        <ul class="sidebar__list menu" role="navigation">
    			<li><a href="#acceptance" class="js-smooth-scroll">Acceptance of Terms of Use</a></li>
    			<li><a href="#overview" class="js-smooth-scroll">Overview</a></li>
    			<li><a href="#terms" class="js-smooth-scroll">Modified Terms</a></li>
    			<li><a href="#arbitration" class="js-smooth-scroll">Arbitration; Applicable Law</a></li>
    			<li><a href="#classaction" class="js-smooth-scroll">Class Action Waiver</a></li>
          <li><a href="#disclaimer" class="js-smooth-scroll">Disclaimer of Warranty</a></li>
          <li><a href="#investment" class="js-smooth-scroll">No Investment Advice</a></li>
          <li><a href="#warranty" class="js-smooth-scroll">No Warranty; Limitation of Liability</a></li>
          <li><a href="#equipment" class="js-smooth-scroll">Equipment</a></li>
          <li><a href="#enduser" class="js-smooth-scroll">End User Conduct</a></li>
          <li><a href="#rights" class="js-smooth-scroll">Proprietary Rights</a></li>
          <li><a href="#communication" class="js-smooth-scroll">Communications with the Site</a></li>
          <li><a href="#dmca" class="js-smooth-scroll">Digital Millennium Copyright Act (“DMCA”)</a></li>
          <li><a href="#monitoring" class="js-smooth-scroll">Monitoring</a></li>
          <li><a href="#privacy" class="js-smooth-scroll">Privacy</a></li>
          <li><a href="#indemnification" class="js-smooth-scroll">Indemnification</a></li>
          <li><a href="#release" class="js-smooth-scroll">Reservation of Rights and Release</a></li>
          <li><a href="#termination" class="js-smooth-scroll">Termination</a></li>
          <li><a href="#thirdparty" class="js-smooth-scroll">Third Party Content</a></li>
          <li><a href="#links" class="js-smooth-scroll">Links to Other Web Sites</a></li>
          <li><a href="#medicaladvice" class="js-smooth-scroll">No Medical Services or Advice</a></li>
          <li><a href="#legaladvice" class="js-smooth-scroll">No Legal Advice</a></li>
          <li><a href="#securities" class="js-smooth-scroll">Securities Information</a></li>
          <li><a href="#solicitation" class="js-smooth-scroll">No Solicitation or Offer</a></li>
          <li><a href="#electronic" class="js-smooth-scroll">Electronic Communications</a></li>
          <li><a href="#termsofsale" class="js-smooth-scroll">Terms of Sale</a></li>
          <li><a href="#promocodes" class="js-smooth-scroll">Terms and Conditions of Blue365 Vendor PROMO CODES AND COUPONS</a></li>
          <li><a href="#misc" class="js-smooth-scroll">Miscellaneous</a></li>
    		</ul>
  		</div>
  		
    </div>
  </aside>
  <div class="grid__item grid__item__main">
    
{% include terms-of-use.html %}

  </div>
</div>

<div id="eligible-modal" class="modal mfp-hide">
  <div class="modal__wrapper">
    {% include modals/signin-eligibility.html %}
  </div>
</div>