---
layout: deal
nav-title: Testimonials
title: Blue365 Testimonials
permalink: /testimonial-archive
body-class: 'testimonials'
---

<div class="testimonial">

  <h1 class="layout__title">What people say about <span class="blue365">Blue<span>365</span></span></h1>

  <!-- 1 feature -->
  <div class="testimonial--feature">
    <figure class="testimonial__figure">
      <blockquote class="testimonial__quote light-blue">
        <p><a href="{{ site.baseurl }}testimonial-single-medium.html" class="testimonial__link">Blue365 helped change my life. I saved money on a gym membership and stuck to my routine. After three months, I feel stronger, faster, and I'm ready to take on more challenges.</a></p>
      </blockquote>
      <figcaption class="testimonial__citation">
        <div class="testimonial__head">
          <img src="https://randomuser.me/api/portraits/men/91.jpg" alt="Random User">
        </div>
        <p>— <cite>Jeffrey Tremblay, Provo, Utah</cite></p>
      </figcaption>
    </figure>
    <div class="testimonial--feature__cta">
      <p><a href="#submit" class="button button__primary js-smoothscroll">Submit your Story</a></p>
    </div>
  </div> 

  <!-- Begin left rail wrapper -->
  <div class="testimonial__grid">
	
  	
  	<aside class="testimonial__grid__rail testimonial__filter">
  		<ul class="menu">
    		<li><a href="#" class="testimonial__filter__link">Feeling my Best</a></li>
    		<li><a href="#" class="testimonial__filter__link">Weight Loss</a></li>
    		<li><a href="#" class="testimonial__filter__link">Saving Money</a></li>
    		<li><a href="#" class="testimonial__filter__link">Healthy Eating</a></li>
    		<li><a href="#" class="testimonial__filter__link">Staying Active</a></li>
    		<li><a href="#" class="testimonial__filter__link">For My Employees</a></li>
      </ul>
      <!--<div class="testimonial__submit-cta">
        <a href="#" class="testimonial__submit-cta__link">Share Your Story</a>
      </div>-->
  	</aside>
  	
  	<div class="testimonial__grid__main">
  		<div class="testimonial__grid--flip-flop">
        
        {% include testimonials.html %}
        {% include testimonials.html %}
        {% include testimonials.html %}
        {% include testimonials.html %}
        
      </div>
      
      {% comment %}
      <div class="load-more">
        <p class="load-more__current">Showing 12 of 60</p>
        <p><a href="#" class="button button__primary">Load 12 More</a></p>
      </div>
      {% endcomment %}
      
  	</div>
  </div><!-- end .testimonial__grid -->
  	
  	
	<div id="submit" class="testimonial__submit">
  	<div class="layout__container--text">
    	
    	<h2 class="text-align-center">Submit your Story</h2>
    	
    	{% include testimonial-form.html %}
    	
    </div>
  </div>


</div>