---
layout: deal
nav-title: Testimonials
title: Single User | Blue365 Testimonials
permalink: /testimonial-single-long
body-class: 'testimonials testimonial-single'
---

<div class="testimonial testimonial--single">

  <div class="testimonial--single--feature light-blue">
    <h1 class="testimonial__title">Bob Carlton <span class="location">Chicago, Illinois</span></h1>
  
    <figure class="testimonial__figure layout__container">
      <blockquote class="testimonial__quote">
        <p>I like to check Blue365 whenever I am ready to make a health-related purchase. More often than not, they have just the deal that I am looking for at a much better price.</p>
      </blockquote>
      <figcaption class="testimonial__citation">
        <div class="testimonial__head">
          <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="Random User">
        </div>
      </figcaption>
    </figure>
  </div>

  <article class="testimonial__body">
    <div class="layout__container--text entry-content">
      
      <p><img class="align-none" src="http://fpoimg.com/1600x900?text=User-supplied Video" alt=""></p>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p><img class="align-left" src="http://fpoimg.com/400x225?text=User-supplied Image" alt="">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      
    </div>
    
    <div class="testimonial__return">
      <p><a href="{{ site.baseurl }}testimonial-archive.html" class="button button__secondary">&larr; More Testimonials</a></p>
    </div>
  </article>


  <div class="testimonial__more">
    
    <h2 class="charlie">Similar Testimonials</h2>
    
  	<div class="testimonial__grid--flip-flop">
      {% include testimonials.html %}
      {% include testimonials.html %}
    </div>
    	
  </div>
  
</div>