              <li class="flow-1"><a href="{{ site.baseurl }}flow-1.html"><span class="flow-2">Browse </span>All Deals</a></li><li class="flow-1"
      				><a href="{{ site.baseurl }}flow-1.html">Apparel &amp; Footwear</a></li><li class="flow-1"
      				><a href="{{ site.baseurl }}flow-1.html">Hearing & Vision</a></li><li class="flow-1"
      				><a href="{{ site.baseurl }}flow-1.html">Home &amp; Family</a></li><li class="flow-1"
      				><a href="{{ site.baseurl }}flow-1.html">Fitness</a></li><li class="flow-1"
      				><a href="{{ site.baseurl }}flow-1.html">Personal Care</a></li><li class="flow-1"
      				><a href="{{ site.baseurl }}flow-1.html">Nutrition</a></li><li class="flow-1"
      				><a href="{{ site.baseurl }}flow-1.html">Travel</a></li>

      				<li class="flow-2"><a href="{{ site.baseurl }}flow-2.html"><span class="flow-2">Browse </span>All Deals</a></li><li class="flow-2"
      				><a href="{{ site.baseurl }}flow-2.html">Apparel &amp; Footwear</a></li><li class="flow-2"
      				><a href="{{ site.baseurl }}flow-2.html">Hearing & Vision</a></li><li class="flow-2"
      				><a href="{{ site.baseurl }}flow-2.html">Home &amp; Family</a></li><li class="flow-2"
      				><a href="{{ site.baseurl }}flow-2.html">Fitness</a></li><li class="flow-2"
      				><a href="{{ site.baseurl }}flow-2.html">Personal Care</a></li><li class="flow-2"
      				><a href="{{ site.baseurl }}flow-2.html">Nutrition</a></li><li class="flow-2"
      				><a href="{{ site.baseurl }}flow-2.html">Travel</a></li>