              <li><a href="{{ site.baseurl }}category.html">All Deals</a></li><li
      				><a href="{{ site.baseurl }}category.html">Apparel &amp; Footwear</a></li><li
      				><a href="{{ site.baseurl }}category.html">Hearing &amp; Vision</a></li><li
      				><a href="{{ site.baseurl }}category.html">Home &amp; Family</a></li><li
      				><a href="{{ site.baseurl }}category.html">Fitness</a></li><li
      				><a href="{{ site.baseurl }}category.html">Personal Care</a></li><li
      				><a href="{{ site.baseurl }}category.html">Nutrition</a></li><li
      				><a href="{{ site.baseurl }}category.html">Travel</a></li>