<div class="grid__item child-wrapper">
  <article class="deal-card deal-card__1 deal-card--feature">
    
    <div class="deal-card__category">
      <a class="deal-card__category__link" href="{{ site.baseurl }}category.html"><span class="fa fa-male" aria-hidden="true"></span> Fitness</a>
      <div class="deal-card__flash">
        Flash Sale! <span class="fa fa-bolt" aria-hidden="true"></span> ends in 5hrs
      </div>
    </div>
    
    <div class="deal-card__header">
      <a class="deal-card__link" href="{{ site.baseurl }}deal.html">
        <div class="deal-card__thumb">
          <img src="http://fpoimg.com/800x450?text=Variable Cropped Image" alt="">
        </div>
        <h3 class="delta deal-card__offer__content">Rugged Maniac</h3>
      </a>
    </div>

    <footer class="deal-card__actions">
      <div class="deal-card__brand__logo">
        <img src="https://www.blue365deals.com/sites/default/files/styles/merchant_logo/public/merchant/logos/Male-Rectangle-Stroke_Logo.jpg?itok=_7pIeVwv" alt="">
      </div>
      <h4 class="foxtrot deal-card__brand">20% Off Obstacle Race Registration</h4>
      
      <div class="logged-out">
        <a href="{{ site.baseurl }}deal.html" class="button button__primary">Details</a>
        <span class="deal-card__favorite__count" title="241 have favorited this deal"><span class="fa fa-heart" aria-hidden="true"></span> 241</span>
      </div>
      <div class="logged-in">
        <a href="{{ site.baseurl }}deal.html" class="button button__secondary">Details</a>
        <a href="#" class="deal-card__favorite deal-card__favorite--off"><span class="fa fa-heart" aria-hidden="true"></span><span class="fa fa-heart-o" aria-hidden="true"></span><span class="deal-card__favorite__count" title="241 have favorited this deal">241</span></a>
        <a href="#" class="deal-card__favorite deal-card__favorite--on"><span class="fa fa-heart" aria-hidden="true"></span><span class="fa fa-heart-o" aria-hidden="true"></span><span class="deal-card__favorite__count" title="241 have favorited this deal">241</span></a>
      </div>

    </footer>
    
  </article>
</div>