<div class="grid__item child-wrapper">
  <article class="deal-card deal-card__1">
    
    <div class="deal-card__category">
      <div class="deal-card__flash">
        Flash Sale! <span class="fa fa-bolt" aria-hidden="true"></span> ends in 8hrs
      </div>
      <a class="deal-card__category__link child-1" href="{{ site.baseurl }}category.html"><span class="fa fa-male" aria-hidden="true"></span> Fitness</a>
      <a class="deal-card__category__link child-2" href="{{ site.baseurl }}category.html"><span class="fa fa-shower" aria-hidden="true"></span> Personal Care</a>
      <a class="deal-card__category__link child-3" href="{{ site.baseurl }}category.html"><span class="fa fa-cutlery" aria-hidden="true"></span> Nutrition</a>
      <div class="deal-card__expiring">
        <span class="fa fa-clock-o" aria-hidden="true"></span> <span class="deal-card__expiring__days">6</span> days left
      </div>
    </div>
    
    <div class="deal-card__header">
      <a class="deal-card__link" href="{{ site.baseurl }}deal.html">
        <div class="deal-card__thumb">
          <img src="http://fpoimg.com/800x450?text=Variable Cropped Image" alt="">
        </div>
        <h3 class="delta deal-card__offer__content">
          <span class="child-1">Tivity Health® Fitness Your Way</span>
          <span class="child-2">Brevena</span>
          <span class="child-3">Wellness Codes–Back to School</span>
        </h3>
      </a>
    </div>

    <footer class="deal-card__actions">
      <h4 class="foxtrot deal-card__brand child-1">Access to 9,500+ Gyms Nationwide through Tivity Health® Fitness Your Way</h4>
      <h4 class="foxtrot deal-card__brand child-2">41% Discount on Skin Care Creams and Balms</h4>
      <h4 class="foxtrot deal-card__brand child-3">10%–25% Off Kids Fitness Trackers, School Lunch Coolers, Water Bottles and STEM Toys</h4>
      
      <div class="logged-out">
        <a href="{{ site.baseurl }}deal.html" class="button button__primary">Details</a>
        <span class="deal-card__favorite__count" title="131 have favorited this deal"><span class="fa fa-heart" aria-hidden="true"></span> 131</span>
      </div>
      <div class="logged-in">
        <a href="{{ site.baseurl }}deal.html" class="button button__secondary">Details</a>
        <a href="#" class="deal-card__favorite deal-card__favorite--off"><span class="fa fa-heart" aria-hidden="true"></span><span class="fa fa-heart-o" aria-hidden="true"></span><span class="deal-card__favorite__count" title="131 have favorited this deal">131</span></a>
        <a href="#" class="deal-card__favorite deal-card__favorite--on"><span class="fa fa-heart" aria-hidden="true"></span><span class="fa fa-heart-o" aria-hidden="true"></span><span class="deal-card__favorite__count" title="131 have favorited this deal">131</span></a>
      </div>

    </footer>
    
  </article>
</div>