<div class="grid__item">
  <article class="deal-card">
    
<!-- Flow-1 -->
<div class="flow-1">
    <div class="deal-card__header">
      <div class="deal-card__category">
        <a class="deal-card__category__link" href="{{ site.baseurl }}flow-1.html"><span class="fa fa-male" aria-hidden="true"></span> Fitness</a>
      </div>
    </div>
    <a class="deal-card__link" href="{{ site.baseurl }}deal-flow-1.html">
      <div class="deal-card__thumb">
        <div class="deal-card__flash">
          <span class="fa fa-bolt" aria-hidden="true"></span> Flash Sale!
        </div>
        <img src="http://fpoimg.com/800x450?text=16:9 Deal Thumbnail" alt="">
        <div class="deal-card__location">
          <span class="fa fa-map-marker" aria-hidden="true"></span> Locations Near You!
        </div>
      </div>
      <h2 class="charlie deal-card__brand">Tivity Health® Fitness Your Way</h2>
      <div class="deal-card__offer">
        <h3 class="foxtrot deal-card__offer__content">
          <div class="deal-card__expiring">
            <span class="fa fa-clock-o" aria-hidden="true"></span> <span class="deal-card__expiring__days">24</span> days left
          </div>
          Access to 9,500+ Gyms Nationwide through Tivity Health® Fitness Your Way
        </h3>
      </div>
    </a>
    
    <footer class="deal-card__actions logged-out">
      <a href="{{ site.baseurl }}deal-flow-1.html" class="button button__primary js-inline-modal">Details</a>
      <span class="deal-card__favorite__count" title="123 have favorited this deal"><span class="fa fa-heart" aria-hidden="true"></span> 123</span>
    </footer>
    
    <footer class="deal-card__actions logged-in">
      <a href="{{ site.baseurl }}deal-flow-1.html" class="button button__secondary js-inline-modal">Details</a>
      <a href="#redeem-modal" class="button button__primary js-inline-modal">Redeem Now</a>
      <a href="#" class="deal-card__favorite deal-card__favorite--off"><span class="fa fa-heart" aria-hidden="true"></span><span class="fa fa-heart-o" aria-hidden="true"></span></a>
    </footer>
</div>

<!-- Flow-2 -->
<div class="flow-2">
    <div class="deal-card__header">
      <div class="deal-card__category">
        <a class="deal-card__category__link" href="{{ site.baseurl }}flow-2.html"><span class="fa fa-male" aria-hidden="true"></span> Fitness</a>
      </div>
    </div>
    <a class="deal-card__link" href="{{ site.baseurl }}deal-flow-2.html">
      <div class="category-clone deal-card--featured-element">
        <div class="deal-card__category">
          <span class="deal-card__category__link"><span class="fa fa-male" aria-hidden="true"></span> Fitness</span>
        </div>
      </div>
      <h2 class="charlie deal-card__brand">Tivity Health® Fitness Your Way</h2>
      <div class="deal-card__offer">
        <h3 class="foxtrot deal-card__offer__content">
          <div class="deal-card__expiring">
            <span class="fa fa-clock-o" aria-hidden="true"></span> <span class="deal-card__expiring__days">24</span> days left
          </div>
          Access to 9,500+ Gyms Nationwide through Tivity Health® Fitness Your Way
        </h3>
      </div>
      <div class="deal-card__thumb">
        <div class="deal-card__flash">
          <span class="fa fa-bolt" aria-hidden="true"></span> Flash Sale!
        </div>
        <img src="http://fpoimg.com/800x450?text=16:9 Deal Thumbnail" alt="">
        <div class="deal-card__location">
          <span class="fa fa-map-marker" aria-hidden="true"></span>  Locations Near You!
        </div>
      </div>
      <div class="action-clone deal-card--featured-element">
        <span class="button button__primary js-inline-modal">Details</span>
        <span class="deal-card__favorite__count" title="123 have favorited this deal"><span class="fa fa-heart" aria-hidden="true"></span> 123</span>
      </div>
    </a>
    
    <footer class="deal-card__actions logged-out">
      <a href="{{ site.baseurl }}deal-flow-2.html" class="button button__primary js-inline-modal">Details</a>
      <span class="deal-card__favorite__count" title="131 have favorited this deal"><span class="fa fa-heart" aria-hidden="true"></span> 123</span>
    </footer>
    
    <footer class="deal-card__actions logged-in">
      <a href="{{ site.baseurl }}deal-flow-2.html" class="button button__primary js-inline-modal">Details</a>
      <a href="#" class="deal-card__favorite deal-card__favorite--off"><span class="fa fa-heart" aria-hidden="true"></span><span class="fa fa-heart-o" aria-hidden="true"></span></a>
      <a href="#" class="deal-card__favorite deal-card__favorite--on"><span class="fa fa-heart" aria-hidden="true"></span><span class="fa fa-heart-o" aria-hidden="true"></span></a>
    </footer>
</div>

  </article>
</div>