  	<footer id="sitefoot" class="mainfoot">
  		<div class="layout__container">
  			<div class="grid grid--quartet">
    			<div class="grid__item mainfoot__group">
      			<div class="brand">
            	<a class="mainfoot__title" href="{{ site.baseurl }}"><span class="b365">Blue<span>365</span></span></a>
            </div>
      		</div>
    			<div class="grid__item mainfoot__group">
      			<h4 class="mainfoot__group__title">Categories:</h4>
      			<ul class="mainfoot__group__list" role="navigation">
        			{% include navigation/deal-categories.html %}
        		</ul>
          </div>
          <div class="grid__item mainfoot__group">
      			<h4 class="mainfoot__group__title">About Blue365</h4>
      			<ul class="mainfoot__group__list" role="navigation">
        			{% include navigation/about-b365.html %}
        		</ul>
      		</div>
      		<div class="grid__item mainfoot__group">
      			<h4 class="mainfoot__group__title">Members</h4>
      			<div class="flow-1 logged-out">
        			<ul class="mainfoot__group__list" role="navigation">
          			<li><a href="{{ site:baseurl }}sign-in-flow-1.html">Sign In / Join</a></li>
          			<li><a href="{{ site:baseurl }}contact-flow-1.html">Contact</a></li>
          			<li><a href="{{ site:baseurl }}flow-1.html">Redemption Flow 1</a></li>
          			<li><a href="{{ site:baseurl }}flow-2.html">Redemption Flow 2</a></li>
          		</ul>
        		</div>
        		<div class="flow-1 logged-in">
        			<ul class="mainfoot__group__list" role="navigation">
          			<li><a href="{{ site:baseurl }}flow-1.html" class="js-set-logout">Sign Out</a></li>
          			<li><a href="{{ site:baseurl }}user-profile-flow-1.html">My Profile</a></li>
          			<li><a href="{{ site:baseurl }}contact-flow-1.html">Contact</a></li>
          			<li><a href="{{ site:baseurl }}flow-1.html">Redemption Flow 1</a></li>
          			<li><a href="{{ site:baseurl }}flow-2.html">Redemption Flow 2</a></li>
          		</ul>
        		</div>
        		<div class="flow-2 logged-out">
        			<ul class="mainfoot__group__list" role="navigation">
          			<li><a href="{{ site:baseurl }}sign-in-flow-2.html">Sign In / Join</a></li>
          			<li><a href="{{ site:baseurl }}contact-flow-2.html">Contact</a></li>
          			<li><a href="{{ site:baseurl }}flow-1.html">Redemption Flow 1</a></li>
          			<li><a href="{{ site:baseurl }}flow-2.html">Redemption Flow 2</a></li>
          		</ul>
        		</div>
        		<div class="flow-2 logged-in">
        			<ul class="mainfoot__group__list" role="navigation">
          			<li><a href="{{ site:baseurl }}flow-2.html" class="js-set-logout">Sign Out</a></li>
          			<li><a href="{{ site:baseurl }}user-profile-flow-2.html">My Profile</a></li>
          			<li><a href="{{ site:baseurl }}contact-flow-2.html">Contact</a></li>
          			<li><a href="{{ site:baseurl }}flow-1.html">Redemption Flow 1</a></li>
          			<li><a href="{{ site:baseurl }}flow-2.html">Redemption Flow 2</a></li>
          		</ul>
        		</div>
      		</div>
    		</div>
  			<p class="mainfoot__copyright"><small>&copy;{{ 'now' | date: '%Y' }} Blue Cross Blue Shield Association and Blue365</small></p>
  		</div>
  	</footer>
	</div>
  <a href="javascript:;" class="drawer__close js-menu-close"></a>
	
	<!-- Prototyping only -->
	<div id="size"></div>

	<script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script src="{{ "assets/js/plugins.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "assets/js/prototyping.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "assets/js/scripts.js" | prepend: site.baseurl }}"></script>
  
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f44fb314874a367"></script>