  <div id="sitetop" class="drawer"></div>
  
  <div class="layout">
    <header id="b365-mainnav" class="mainhead">

      <div class="utility layout__utility">
        <div class="menu-action">
          <a href="#sitefoot" class="menu-action__button js-menu-toggle"><span class="fa fa-bars" aria-hidden="true"></span></a>
        </div>
        
        <ul class="flow-1 utility__list menu" role="navigation">
          <li><a href="#">Healthy Tips Blog</a></li>
          <li><a href="{{ site.baseurl }}for-employers-flow-1.html">For Employers</a></li>
          <li class="utility__lang"><a href="#">English</a> / <a href="#">Español</a></li>
          <li><a href="#">About Blue365</a></li>
          <li class="utility__user">
            <div class="logged-out">
              <a class="button button__secondary js-inline-modal" href="#signin-modal">Sign In</a> <a class="button button__primary js-inline-modal" href="#eligible-modal">Join</a>
            </div>
            <div class="logged-in">
              <a href="{{ site.baseurl }}user-profile-flow-1.html" class="button button__not-button">Hello, Giovana</a> <a href="#" class="button button__secondary js-set-logout">Sign Out</a>
            </div>
          </li>
        </ul>
        <ul class="flow-2 utility__list menu" role="navigation">
          <li class="utility__lang"><a href="#">English</a> / <a href="#">Español</a></li>
          <li><a href="#">Healthy Tips Blog</a></li>
          <li><a href="{{ site.baseurl }}for-employers-flow-2.html">For Employers</a></li>
          <li><a href="#">About Blue365</a></li>
        </ul>
      </div>

      <div class="flow-2 mainnav">
        <ul class="mainnav__list mainnav__list__parent menu" role="navigation">
          <li>
            <div class="search">
              <form class="">
                <fieldset class="search__wrapper">
                  <label class="screen-reader-text">Search Deals</label>
                  <input class="search__input" type="search" placeholder="Search our Deals">
                  <input class="search__button" type="submit" value="Go">
                </fieldset>
              </form>
            </div>
          </li>
          <li class="logged-out"><a href="{{ site.baseurl }}sign-in-flow-2.html">Sign In</a> / <a href="{{ site.baseurl }}sign-in-flow-2.html#join">Join</a></li>
          <li class="logged-in">
            <a href="{{ site.baseurl }}user-profile-flow-2.html">Hello, Giovana</a>
            <ul class="mainnav__list mainnav__submenu menu">
              <li><a href="{{ site.baseurl }}user-profile-flow-2.html">My Account</a></li>
              <li><a href="#">My Favorites</a></li>
              <li><a href="#">My History</a></li>
              <li><a href="#" class="js-set-logout">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="brand layout__brand">
        <span class="flow-1">
          <a class="mainhead__title" href="{{ site.baseurl }}index.html">
            <img src="{{ site.baseurl }}assets/img/placeholder-logo.jpg" alt="Blue365">
          </a>
          Flow 1
        </span>
        <span class="flow-2">
          <a class="mainhead__title" href="{{ site.baseurl }}index-flow-2.html">
            <img src="{{ site.baseurl }}assets/img/placeholder-logo.jpg" alt="Blue365">
          </a>
          Flow 2
        </span>
      </div>

      <div class="catnav layout__catnav">
        
        <div class="flow-1 search">
          <form class="">
            <fieldset class="search__wrapper">
              <label class="screen-reader-text">Search Blue365 Deals</label>
              <input class="search__input" type="search" placeholder="Search our Deals">
              <input class="search__button" type="submit" value="Go">
            </fieldset>
          </form>
        </div>
        
        <nav class="catnav__wrapper">
          <ul class="catnav__list">
            {% include navigation/deal-categories.html %}
          </ul>
        </nav>
      </div>

    </header>
