<div class="pagination">
  <ul class="menu">
    <li><a href="#" class="pagination__first pagination__disabled"><span class="fa fa-angle-double-left" aria-hidden="true"></span></a></li>
    <li><a href="#" class="pagination__previous pagination__disabled"><span class="fa fa-angle-left" aria-hidden="true"></span></a></li>
    
    <li><a href="#" class="pagination__number pagination__current">1</a></li>
    <li><a href="#" class="pagination__number">2</a></li>
    <li><a href="#" class="pagination__number">3</a></li>
    <li><a href="#" class="pagination__number">4</a></li>
    <li><a href="#" class="pagination__number">5</a></li>
    
    <li><a href="#" class="pagination__next"><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
    <li><a href="#" class="pagination__last"><span class="fa fa-angle-double-right" aria-hidden="true"></span></a></li>
  </ul>
</div>