<div class="testimonial__card">
  <div class="testimonial__head">
    <img src="https://randomuser.me/api/portraits/women/45.jpg" alt="Random User">
  </div>
  <figure class="testimonial__figure">
    <blockquote class="testimonial__quote testimonial__quote__short">
      <p>I love saving money with Blue365. It keeps my wallet fat but it help me stay thin! </p>
    </blockquote>
    <figcaption class="testimonial__citation">
      <p>— <cite>Jeanette Prudhomme, Woonsocket, Rhode Island</cite></p>
    </figcaption>
  </figure>
</div>
<div class="testimonial__card">
   <div class="testimonial__head">
    <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="Random User">
  </div>
  <figure class="testimonial__figure">   
    <blockquote class="testimonial__quote testimonial__quote__long">
      <p>I like to check Blue365 whenever I am ready to make a health-related purchase. More often than not, they have just the deal that I am looking for at a much better price. </p>
    </blockquote>
    <figcaption class="testimonial__citation">
      <p>— <cite>Bob Carlton, Chicago, Illinois</cite></p>
    </figcaption>
  </figure>
</div>
<div class="testimonial__card">
  <div class="testimonial__head">
    <img src="https://randomuser.me/api/portraits/women/47.jpg" alt="Random User">
  </div>
  <figure class="testimonial__figure">
    <blockquote class="testimonial__quote testimonial__quote__medium">
      <p>I changed the way that I prepare meals because of Blue365. I took advantage of a great offer on a cooking app and I couldn't be happier.</p>
    </blockquote>
    <figcaption class="testimonial__citation">
      <p>— <cite>Dominic Mendez, Princeton, New Jersey</cite></p>
    </figcaption>
  </figure>
</div>