<article id="deal-wrapper" class="deal__details">
  <div id="description" class="deal__details__description entry-content">
    <h2>A 12-Month Nutrition Education Program for only $22.46/month</h2>
    <p>Blue365 members eligible for 10% off the 12-month subscription AND free shipping!</p>
    <p>The OrganWise Guys are a set of engaging characters that teach children about the importance of good nutrition, physical activity and overall healthy lifestyles with the goal of preventing childhood obesity.</p>
    <p>Whether it&rsquo;s Sir Rebrum, the brain educating about &ldquo;smart&rdquo; habits, or Madame Muscle flexing your kid&rsquo;s brainpower to learn about muscle health, The OrganWise Guys offers a variety of fun characters to inspire children in engaging, interactive ways. You can also select from different doll sizes, gender and ethnicities.</p>
    <h3>How It Works: Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
    <ol>
      <li>Order your subscription. Select the product and subscription plan that&rsquo;s right for your child.</li>
      <li>The OrganWise Guys ship your kit. Monthly packages arrive, filled with OrganWise Guys beanies, posters, activity sheets and more.</li>
      <li>Discover and learn. Start exploring and spark a lifelong love of learning and nutrition!</li>
    </ol>
    <p><img src="https://www.blue365deals.com/sites/default/files/uploads/month1-hardy-title-e1475943489350_0.png"></p>
  </div>
  <div id="terms" class="deal__details__terms entry-content">
    <h2>The Terms</h2>
    <ul>
      <li>*If a large doll is purchased the regular price is $34.95/month, Blue members pay $31.46/month.</li>
      <li>Free shipping to the contiguous U.S. states only.</li>
      <li>Additional shipping fee of $10.00/month applies to Puerto Rico, Virgin Islands and Hawaii.</li>
      <li>This offer is only available on the Blue365 website.</li>
      <li>Other important Terms and Conditions apply. Read our <a href="#">disclosure statement</a>, <a href="#">terms of use</a>, and <a href="#">privacy policy</a> before proceeding further.</li>
  </div>
  
  <!-- Redeem actions will be duplicated here for an adhesive thing -->
</article>