<article id="deal-wrapper" class="deal__details">

<div id="wayfinding" class="wayfinding">
  <div class="wayfinding__wrapper js-adhesive">
    <ul class="wayfinding__list menu">
      <li>Jump to: </li>
      <li><a class="js-smooth-scroll" href="#garmin">Vivofit Jr.</a></li>
      <li><a class="js-smooth-scroll" href="#STEM">STEM Toys</a></li>
      <li><a class="js-smooth-scroll" href="#thermos">Thermos</a></li>
      <li><a class="js-smooth-scroll" href="#underarmour">Under Armour</a></li>
      <li><a class="js-smooth-scroll" href="#terms">Terms</a></li>
    </ul>
  </div>
</div>

  <div id="description">
    
<div class="paragraph paragraph__hero">
  <h2>10%&ndash;25% off Garmin® Vivofit Jr., Under Armour® Lunch Coolers and Water Bottles, Thermos® Food Storage and STEM Toys by Learning Resources®</h2>
</div>

<div class="paragraph paragraph__cards grid grid--duo entry-content">
  <div id="garmin" class="grid__item">
    <h3>Garmin&mdash; Fitness Tracker for Kids</h3>
    <p><img class="align-left" src="https://www.blue365deals.com/sites/default/files/uploads/garmin_r_vivofitjrfamily_hr_35410.png"> Meet the activity tracker just for kids &mdash; vívofit jr. Its swim friendly, durable and features kid-approved designs, a 1+ year battery life and a free, parent-controlled mobile app. As children stay on the move with steps and activity, the app motivates them with rewards and a mobile adventure trail to unlock. Meanwhile, parents can monitor steps, sleep and the 60-minute daily activity goal. The app also lets parents manage and assign chores and give rewards to positively enforce good behavior. It’s all easily controlled from an adult’s compatible Apple® or Android™ mobile devices.</p>
  </div>
  <div id="STEM" class="grid__item">
    <h3>Learning Resources&mdash; STEM Toys</h3>
    <p><img class="align-left" src="https://www.blue365deals.com/sites/default/files/uploads/stem_chem_set_image.jpg">With children's thirst for knowledge, now is the perfect time to introduce them to the world of STEM (Science, Technology, Engineering, and Math). STEM provides a framework for looking at the world with an eye towards solving problems. It exposes children to different real world possibilities so they can discover new passions.</p>
  </div>
</div>

<div class="paragraph paragraph__cards grid grid--duo entry-content">
  <div id="thermos" class="grid__item">
    <h3>Thermos&mdash; Smart Hydration and Food Storage</h3>
    <p><img class="align-left" src="https://www.blue365deals.com/sites/default/files/uploads/thermos_lime_green.jpg">As the leading manufacturer of convenient insulated products, Thermos provides innovative portable containers and smart hydration bottles that promote a healthy lifestyle.</p>
  </div>
  <div id="underarmour" class="grid__item">
    <h3>Under Armour&mdash; Lunch Coolers and Hydration Bottles</h3>
    <p><span class="align-left"><img src="https://www.blue365deals.com/sites/default/files/uploads/k45363_ualunchcooler_graphite.png"><img src="https://www.blue365deals.com/sites/default/files/uploads/up4905bl_64ozhydration_blue_rgb_0.png"></span> The ultimate sports performance brand, Under Armour, has teamed up with Thermos to bring you durable lunch coolers and hydration bottles for the active lifestyle. </p>
  </div>
</div>

<div class="paragraph paragraph__hero">
  <p>These great savings are made possible by WellnessCodes, which partners with employers to offer corporate wellness discounts on health and wellness products.</p>
</div>

<div class="paragraph paragraph__body">
  <div id="terms" class="paragraph__body__wrapper deal__details__terms entry-content">
    <h2>The Terms</h2>
    <ul>
      <li>Shipping in the Continental U.S. is a flat rate of $4.99 per order and orders over $50 &mdash; Free Shipping.</li>
      <li>Taxes apply in NY &amp; NJ.</li>
      <li>You may return most new, unopened items within 30 days of delivery for a full refund.
      <li>All trademarks identified above are the property of their respective owners, which are in no way associated or affiliated with the Blue Cross and Blue Shield Association.</li>
      <li>This offer is only available on the Blue365 website.</li>
      <li>Other important Terms and Conditions apply. Read our <a href="#">disclosure statement</a>, <a href="#">terms of use</a>, and <a href="#">privacy policy</a> before proceeding further.</li>
  </div>
</div>

  </div>  
  <!-- Redeem actions will be duplicated here for an adhesive thing -->
</article>