<header class="deal__header">

<!--
  
  Deal Title
  Partner Logo
  Pricing before/after
  Sign In / Redeem
  Category
  Flash Sale
  Time until Expired
  Location/local
  Favorites
  Social Share
  
-->
  
  <div class="deal__brand">
    <img class="deal__brand__logo" src="https://www.blue365deals.com/sites/default/files/styles/merchant_logo/public/merchant/logos/fitnessyourway_4c_300.jpg?itok=Fk8AXYbD" alt="">
    <div id="deal-brand" class="deal__brand__name">Fitness Your Way:</div>
  </div>
  <h1 class="deal__title">
    Access to 9,500+ Gyms Nationwide through Tivity Health® Fitness Your Way
  </h1>

    
  <!-- Start Redeem -->
  <div id="redeem" class="deal__redeem redeem">
    <div class="logged-out">
      <p>
        <a href="#signin-modal" class="button button__primary redeem__button redeem__button--signin js-inline-modal-signin">Sign In / Join</a>
        <a href="#" class="button button__disabled redeem__button redeem__button--signout">Redeem</a>
      </p>
    </div>
    <div class="logged-in">
      <a href="#redeem-modal" class="button button__primary redeem__button redeem__button--now js-inline-modal-redeem">Redeem Now</a>
    </div>
  </div><!-- End Redeem -->
    
  <div class="deal__meta">
    <p class="deal__price">
      <strong class="deal__price__after"><ins title="Blue365 Deal Price">$25.00</ins></strong>
      <span class="deal__price__before"><del title="Regular Price">$35.00</del></span>
      <span class="deal__price__recurrence">Monthly</span>
    </p>
    <div class="deal__meta__grid">
      <div class="deal__meta__expiration" title="This deal will expire on 9-30-2017">
        <span class="fa fa-clock-o" aria-hidden="true"></span>
        <p>24 days left</p>
      </div>
      <div class="deal__meta__location" title="Locations are available in your area">
        <span class="fa fa-map-marker" aria-hidden="true"></span>
        <p>Close to you!</p>
      </div>
      <div class="deal__meta__favorite" title="Users have marked this deal as a favorite">
        <span class="fa fa-heart-o" aria-hidden="true"></span>
        <p>123 favorites</p>
      </div>
      <div class="deal__meta__category">
        <a href="#" title="More from this category">
          <span class="fa fa-male" aria-hidden="true"></span>
          <p>Fitness</p>
        </a>
      </div>
    </div>
    <div class="deal__meta__share">
      <div class="addthis_sharing_toolbox"></div>
    </div>
  </div>

  <div class="deal__featured">
    <img class="deal__featured__image" src="http://fpoimg.com/1200x675?text=16:9 Deal Featured Image">
  </div>
  
</header>


<!-- 
  Article
-->
<article id="deal-wrapper" class="deal__details">
  
  <!-- Hero paragraph -->
  <div class="paragraph paragraph__hero entry-content">
    <h2>Offer Details</h2>
    <h4>No enrollment fee and only $25 a month to access to network of 9,500+ Gyms nationwide AND discounts with over 35,000 health and well-being specialists</h4>
    <p>Whether your goals are physical, such as losing weight and maximizing energy, or emotional like dealing with stress and improving your mood, Fitness Your Way can help you meet your goals, on your budget and do it all on your own time. </p>
  </div>

  <!-- Multi-card paragraph row -->
  <div class="paragraph paragraph__cards grid grid--duo">
    <div class="grid__item entry-content">
      <h3>Fitness for your budget &amp; your time</h3>
      <ul>
        <li>$25 enrollment fee waived <em>for the month of September only</em>.</li>
        <li>Only $25 per month (plus local tax), with a 3-month commitment.</li>
        <li>Visit any participating fitness location&mdash;anytime, anywhere&mdash;as often as you like.</li>
    </div>
    <div class="grid__item entry-content">
      <h3>Additional Savings &amp; Services</h3>
      <ul>
        <li>Get up to 30% off on more than 35,000 experienced health and well-being specialists including: massage therapists, personal trainers, nutrition counselors, yoga and pilates instructors and more*.</li>
        <li>Save on vitamins, exercise equipment, aromatherapy, organic products, and unique gifts*.</li>
      </ul>
    </div>
  </div>

  <!-- Map paragraph -->
  <div class="paragraph paragraph__map grid grid__rail-right">
    <div class="grid__item__main">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380242.44513300515!2d-87.90056677495271!3d41.87900306683395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cbb24a58c1f%3A0x469c0c8118eb74b2!2sChicago+Loop%2C+Chicago%2C+IL!5e0!3m2!1sen!2sus!4v1504799273817" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="grid__item__rail entry-content">
      <h3>Fitness in your neighborhood</h3>
      <p>With 9,500 locations, find fitness facilities that fit you and your needs. Locations include select Anytime Fitness®, Curves®, Snap Fitness® and a limited number of Gold&rsquo;s Gyms.</p>
    </div>
  </div>

  <!-- Video paragraph: options needed for left and right placement, or no description at all (full width) -->
  <div class="paragraph paragraph__video grid grid--duo">
    <div class="grid__item grid__item__video">
      <div class="embed-container">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/VpjsvwnxnZk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="grid__item entry-content">
      <h3>Getting Healthy Starts with Tivity Health®</h3>
      <p>Good health isn&rsquo;t just a destination, its a lifestyle. Be proactive, get moving, and get empowered to live healthier</p>
    </div>
  </div>

  <!-- Gallery paragraph -->
  <div class="paragraph paragraph__gallery">
    <ul class="paragraph__gallery__container">
      <li><img class="deal__featured__image" src="http://fpoimg.com/800x450?text=16:9 Gallery Thumbnail"></li>
      <li><img class="deal__featured__image" src="http://fpoimg.com/800x500?text=8:5 Gallery Thumbnail"></li>
      <li><img class="deal__featured__image" src="http://fpoimg.com/800x600?text=4:3 Gallery Thumbnail"></li>
      <li><img class="deal__featured__image" src="http://fpoimg.com/600x600?text=1:1 Gallery Thumbnail"></li>
      <li><img class="deal__featured__image" src="http://fpoimg.com/800x450?text=16:9 Gallery Thumbnail"></li>
      <li><img class="deal__featured__image" src="http://fpoimg.com/800x500?text=8:5 Gallery Thumbnail"></li>
      <li><img class="deal__featured__image" src="http://fpoimg.com/800x600?text=4:3 Gallery Thumbnail"></li>
      <li><img class="deal__featured__image" src="http://fpoimg.com/600x600?text=1:1 Gallery Thumbnail"></li>
    </ul>
  </div>
  
  <!-- Promo block -->
  <div class="paragraph paragraph__promo grid grid__rail-left">
    <div class="grid__item__rail entry-content">
      <h3 class="bravo"><span class="b365">Blue<span>365</span></span> says:</h3>
    </div>
    <div class="grid__item__main entry-content">
      <blockquote>
        <p>If you sit at a computer all day be sure to take short breaks to stretch and walk around throughout the day. Gentle hand, wrist, and forearm stretches are particularly helpful and will prevent carpal tunnel syndrome.</p>
      </blockquote>
    </div>
  </div>

  <!-- Image paragraph: options needed for left and right placement -->
  <div class="paragraph paragraph__image grid grid--duo">
    <div class="grid__item grid__item__image">
      <img src="http://fpoimg.com/800x450?text=16:9 Image Row">
    </div>
    <div class="grid__item entry-content">
      <h3>Getting Healthy Starts with Tivity Health®</h3>
      <p>Good health isn&rsquo;t just a destination, its a lifestyle. Be proactive, get moving, and get empowered to live healthier</p>
    </div>
  </div>

  <!-- Body content paragraph -->
  <div class="paragraph paragraph__body">
    <div class="paragraph__body__container entry-content">
      <h2>The Terms</h2>
      <ul><li>$25 waived enrollment fee good through <strong>September&nbsp;30, 2017.</strong></li>
        <li>*Details of the offer may vary depending on the Blue Cross and/or Blue Shield Company you are affiliated with.</li>
        <li>Memberships are per individual, not per family. Each individual must purchase their own membership. Family rates are not available.</li>
        <li>Individuals must be 18 and over to purchase a membership.&nbsp;</li>
        <li>Monthly fee includes basic membership only. Access to additional services such as personal training, spa services, classes, or access to a pool or whirlpool vary by facility. To verify access to additional services, contact Tivity Health at <strong>888-242-2060</strong> (Monday – Friday 8 a.m. – 8 p.m. EST) or the gym directly.</li>
        <li>You must purchase a fitness membership in order to receive access to complementary and alternative medicine discounts.&nbsp;<em>Complementary and alternative medicine discounts may not be available at all Blue Cross and/or Blue Shield Companies.</em></li>
        <li>To learn more about the complementary and alternative medicine practitioners near you, or to receive a list of providers, their addresses and discounts available, call Tivity Health at <strong>888-242-2060</strong> (Monday – Friday 8 a.m. – 8 p.m. EST).</li>
        <li>Tivity Health is a registered trademark of Tivity Health, Inc.™, and/or its subsidiaries and/or affiliates in the USA and/or other countries. &nbsp;All other brand names, product names, registered trademarks, or trademarks are the property of their respective owners, which are in no way associated or affiliated with the Blue Cross and Blue Shield Association.</li>
      </ul>
    </div>
  </div>
  
  <!-- Redeem actions will be duplicated here for an adhesive thing -->
</article>