<!--
  Coupon code
  No code needed, continue shopping
  Print Instore Coupon
  Send coupon via Email
  Send Coupon via SMS
  Call this Phone number
-->
  <div class="deal__redeem__continue">
    <h4 class="echo">Continue Shopping</h4>
    <a href="#" class="button button__primary" target="_blank"><span class="fa fa-external-link-square" aria-hidden="true"></span>Shop Online</a>
    <p class="deal__redeem__message"><b>No code needed!</b> Your discount will be added at checkout.</p>
  </div>
  <div class="deal__redeem__online">
    <h4 class="echo">Your Online Coupon Code</h4>
    <div class="form__group form__input-button-pair deal__redeem__copycode">
      <input class="form__input deal__redeem__input" value="WELL365" readonly>
      <a href="#" class="button button__primary" title="Copy to Clipboard"><span class="fa fa-clipboard" aria-hidden="true"></span>Copy</a>
    </div>
    
    <div class="flow-1">
      <p class="deal__redeem__message">Visit <a href="#">OrganwiseGuys.com/shop</a> and use the code at checkout.</p>
    </div>
    <div class="flow-2">
      <p class="deal__redeem__message">Visit <a href="#">WellnessCodes.com</a> and use the code at checkout.</p>
    </div>
    
  </div>
  <div class="deal__redeem__instore">
    <h4 class="echo">Use in-store</h4>
    <a href="#" class="button button__primary" title="Print for in-store use"><span class="fa fa-qrcode" aria-hidden="true"></span>Print</a>
    <a href="#" class="button button__primary" title="Send as an Email Message"><span class="fa fa-envelope" aria-hidden="true"></span>Email</a>
    <a href="#" class="button button__primary" title="Send as a Text Message"><span class="fa fa-mobile" aria-hidden="true"></span>Text</a>
  </div>