<div class="deal__column__container">

  <header class="deal__header">
    <div class="deal__brand">
      <img class="deal__brand__logo" src="https://www.blue365deals.com/sites/default/files/styles/merchant_logo/public/merchant/logos/fitnessyourway_4c_300.jpg?itok=Fk8AXYbD" alt="">
      <div id="deal-brand" class="deal__brand__name">Fitness Your Way:</div>
    </div>
    <h1 class="deal__title">
      Access to 9,500+ Gyms Nationwide through Tivity Health® Fitness Your Way
    </h1>
  </header>

  <div class="deal__main">
    <div class="deal__header__container">
      
      <!-- This deal header has three moving parts: 
          1. .deal__redeem
          2. .deal__meta
          3. .deal__featured
          
          For mobile they simply stack up. 
          For medium screens they are in an asymmetric pattern, of 1 across the top, 
            then 4, then 2 over 3 alongside 4. 
          Finally, for desktop, we hide 3 and 4 and show clones of them instead
            in an adhesive sidebar
      -->
      
      <!-- Start Redeem -->
      <div id="dealredeem" class="deal__redeem js-clone">
    
        <div class="logged-out">
          <p><a href="#eligible-modal" class="button button__primary js-inline-modal">Join Blue365 to Redeem</a></p>
        </div>
        
        <div class="logged-in">
          <div class="deal__redeem__instructions">
            <h4 class="deal__redeem__title">Redemption Instructions:</h4>
            <ol>
              <li>Click “Shop on Partner Site” to be redirected to the <a href="#external-notice" class="js-inline-modal">Fitness Your Way by Tivity Health</a> website.</li>
              <li>Enter redemption code <b>FIT4FALL</b> to receive the $25 waived enrollment fee at checkout.</li>
            </ol>
          </div>
          <div class="deal__redeem__online">
            <h5 class="echo screen-reader-text">Online Coupon Code</h5>
            <div class="form__group form__input-button-pair redeem__copycode">
              <input class="form__input redeem__input" value="FIT4FALL" readonly>
              <a href="#" class="button button__primary" title="Copy Online Coupon Code"><span class="fa fa-clipboard" aria-hidden="true"></span>Copy</a>
            </div>
            <a href="#external-notice" class="button button__primary js-inline-modal" target="_blank"><span class="fa fa-external-link-square" aria-hidden="true"></span>Shop on Partner Site</a>
          </div>
        </div><!-- // .logged-in -->
      </div><!-- // .deal__redeem -->
      
        
      <div id="dealmeta" class="deal__meta js-clone">
        <p class="deal__meta__price">
          <strong class="deal__meta__price__after"><ins title="Blue365 Deal Price">$25.00</ins></strong>
          <span class="deal__meta__price__before"><del title="Regular Price">$35.00</del></span>
          <span class="deal__meta__price__recurrence">Monthly</span>
        </p>
        <div class="deal__meta__grid deal__meta__grid--quatro">
          <div class="deal__meta__category">
            <a href="{{ site.baseurl }}category.html" title="More from this category">
              <span class="fa fa-male" aria-hidden="true"></span>
              <p>Fitness</p>
            </a>
          </div>
          <div class="deal__meta__expiration" title="This deal will expire on 11-30-2017">
            <a href="{{ site.baseurl }}category.html" title="More deals Expiring Soon">
              <span class="fa fa-clock-o" aria-hidden="true"></span>
              <p>6 days left</p>
            </a>
          </div>
          <div class="deal__meta__location" title="Locations are available in your area">
            <span class="fa fa-map-marker" aria-hidden="true"></span>
            <p>Close to you!</p>
          </div>
          <div class="deal__meta__favorite" title="Users have marked this deal as a favorite">
            <span class="fa fa-heart-o" aria-hidden="true"></span>
            <p>123 favorites</p>
          </div>
        </div>
      </div>
    
    
      <div class="deal__featured">
        <div class="gallery gallery__container">
          <div class="gallery__main">
            <img class="deal__featured__image" src="http://fpoimg.com/1200x675?text=16:9 Deal Image Gallery">
          </div>
          <div class="gallery__thumbs">
            <ul class="gallery__thumbs__list">
              <li><img class="deal__featured__image" src="http://fpoimg.com/200x150?text=4:3 Deal Thumb"></li>
              <li><img class="deal__featured__image" src="http://fpoimg.com/200x150?text=4:3 Deal Thumb"></li>
              <li><img class="deal__featured__image" src="http://fpoimg.com/200x150?text=4:3 Deal Thumb"></li>
              <li><img class="deal__featured__image" src="http://fpoimg.com/200x150?text=4:3 Deal Thumb"></li>
              <li><img class="deal__featured__image" src="http://fpoimg.com/200x150?text=4:3 Deal Thumb"></li>
              <li><img class="deal__featured__image" src="http://fpoimg.com/200x150?text=4:3 Deal Thumb"></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- // .deal__header__container -->


    <!-- 
      Article
    -->
    <article id="deal-wrapper" class="deal__article">
      
      <!-- Hero paragraph -->
      <div class="paragraph paragraph__hero entry-content">
        <h2>Offer Details</h2>
        <h4>No enrollment fee and only $25 a month to access to network of 9,500+ Gyms nationwide AND discounts with over 35,000 health and well-being specialists</h4>
        <p>Whether your goals are physical, such as losing weight and maximizing energy, or emotional like dealing with stress and improving your mood, Fitness Your Way can help you meet your goals, on your budget and do it all on your own time. </p>
      </div>
    
      <!-- Multi-card paragraph row -->
      <div class="paragraph paragraph__cards grid grid--duo">
        <div class="grid__item entry-content">
          <h3>Fitness for your budget &amp; your time</h3>
          <ul>
            <li>$25 enrollment fee waived <em>for the month of September only</em>.</li>
            <li>Only $25 per month (plus local tax), with a 3-month commitment.</li>
            <li>Visit any participating fitness location&mdash;anytime, anywhere&mdash;as often as you like.</li>
        </div>
        <div class="grid__item entry-content">
          <h3>Additional Savings &amp; Services</h3>
          <ul>
            <li>Get up to 30% off on more than 35,000 experienced health and well-being specialists including: massage therapists, personal trainers, nutrition counselors, yoga and pilates instructors and more*.</li>
            <li>Save on vitamins, exercise equipment, aromatherapy, organic products, and unique gifts*.</li>
          </ul>
        </div>
      </div>
    
      <!-- Map paragraph -->
      <div class="paragraph paragraph__map grid grid__rail-right">
        <div class="grid__item__main">
          <div class="paragraph__map__location">
            <a href="#" class="button button__primary" title="Use my current location"><span class="fa fa-crosshairs" aria-hidden="true"></span></a>
            <input class="form__input redeem__input" value="" placeholder="Enter a Zipcode, City name, or Address">
            <a href="#" class="button button__primary" title="Find locations near you"><span class="fa fa-map-marker" aria-hidden="true"></span>Search</a>
          </div>
          
          <div class="paragraph__map__results">
            <h4>These are the 5 locations closest to you:</h4>
            <ul>
              <li>LA FITNESS - PAWTUCKET<br>
                615 Pawtucket Ave. - Pawtucket, RI
                <span class="distance">1.3 miles</span>
              </li>
              <li>PLANET FITNESS - PAWTUCKET (ANN MARY ST)<br>
                50 Ann Mary St. - Pawtucket, RI
                <span class="distance">1.4 miles</span>
              </li>
              <li>BLAST FITNESS - EAST PROVIDENCE<br>
                50 Narragansett Park Dr. - East Providence, RI
                <span class="distance">2.2 miles</span>
              </li>
              <li>PLANET FITNESS - PROVIDENCE<br>
                387 W. Fountain St. - Providence, RI
                <span class="distance">2.3 miles</span>
              </li>
              <li>PLANET FITNESS - SEEKONK<br>
                140 Taunton Ave - Seekonk, MA
                <span class="distance">2.7 miles</span>
              </li>
            </ul>
            <p><a href="#" class="button button__secondary">Find All Locations Near You</a></p>
          </div>
          
          <!--
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380242.44513300515!2d-87.90056677495271!3d41.87900306683395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cbb24a58c1f%3A0x469c0c8118eb74b2!2sChicago+Loop%2C+Chicago%2C+IL!5e0!3m2!1sen!2sus!4v1504799273817" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            -->
        </div>
        <div class="grid__item__rail entry-content">
          <h3>Find the Gyms in your neighborhood</h3>
          <p>With 9,500 locations, find fitness facilities that fit you and your needs. Locations include select Anytime Fitness®, Curves®, Snap Fitness® and a limited number of Gold&rsquo;s Gyms.</p>
        </div>
      </div>
    
      <!-- Video paragraph: options needed for left and right placement, or no description at all (full width) -->
      <div class="paragraph paragraph__video grid grid--duo">
        <div class="grid__item grid__item__video">
          <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VpjsvwnxnZk?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="grid__item entry-content">
          <h3>Watch an introduction to Tivity Health®</h3>
          <p>Good health isn&rsquo;t just a destination, its a lifestyle. Be proactive, get moving, and get empowered to live healthier</p>
        </div>
      </div>
    
      <!-- Gallery paragraph
      <div class="paragraph paragraph__gallery">
        <ul class="paragraph__gallery__container">
          <li><img class="deal__featured__image" src="http://fpoimg.com/800x450?text=16:9 Gallery Thumbnail"></li>
          <li><img class="deal__featured__image" src="http://fpoimg.com/800x500?text=8:5 Gallery Thumbnail"></li>
          <li><img class="deal__featured__image" src="http://fpoimg.com/800x600?text=4:3 Gallery Thumbnail"></li>
          <li><img class="deal__featured__image" src="http://fpoimg.com/600x600?text=1:1 Gallery Thumbnail"></li>
          <li><img class="deal__featured__image" src="http://fpoimg.com/800x450?text=16:9 Gallery Thumbnail"></li>
          <li><img class="deal__featured__image" src="http://fpoimg.com/800x500?text=8:5 Gallery Thumbnail"></li>
          <li><img class="deal__featured__image" src="http://fpoimg.com/800x600?text=4:3 Gallery Thumbnail"></li>
          <li><img class="deal__featured__image" src="http://fpoimg.com/600x600?text=1:1 Gallery Thumbnail"></li>
        </ul>
      </div> -->
      
      <!-- Promo block -->
      <div class="paragraph paragraph__promo grid grid__rail-left">
        <div class="grid__item__rail entry-content">
          <h3 class="bravo"><span class="b365">Blue<span>365</span></span> says:</h3>
        </div>
        <div class="grid__item__main entry-content">
          <blockquote>
            <p>If you haven’t been physically active for a while, start slowly. Gradually build your endurance, strength, balance, and flexibility. Walking for just five or 10 minutes at a time on several days each week, is a great way to begin. Once you can walk for 30 minutes at a time, you’ve built a solid foundation and are ready to add more challenging activities to your routine.</p>
          </blockquote>
        </div>
      </div>
    
      <!-- Image paragraph: options needed for left and right placement
      <div class="paragraph paragraph__image grid grid--duo">
        <div class="grid__item grid__item__image">
          <img src="http://fpoimg.com/800x450?text=16:9 Image Row">
        </div>
        <div class="grid__item entry-content">
          <h3>Getting Healthy Starts with Tivity Health®</h3>
          <p>Good health isn&rsquo;t just a destination, its a lifestyle. Be proactive, get moving, and get empowered to live healthier</p>
        </div>
      </div> -->
    
      <!-- Body content paragraph -->
      <div class="paragraph paragraph__body">
        <div class="paragraph__body__container entry-content">
          <h2>The Terms</h2>
          <ul><li>$25 waived enrollment fee good through <strong>September&nbsp;30, 2017.</strong></li>
            <li>*Details of the offer may vary depending on the Blue Cross and/or Blue Shield Company you are affiliated with.</li>
            <li>Memberships are per individual, not per family. Each individual must purchase their own membership. Family rates are not available.</li>
            <li>Individuals must be 18 and over to purchase a membership.&nbsp;</li>
            <li>Monthly fee includes basic membership only. Access to additional services such as personal training, spa services, classes, or access to a pool or whirlpool vary by facility. To verify access to additional services, contact Tivity Health at <strong>888-242-2060</strong> (Monday – Friday 8 a.m. – 8 p.m. EST) or the gym directly.</li>
            <li>You must purchase a fitness membership in order to receive access to complementary and alternative medicine discounts.&nbsp;<em>Complementary and alternative medicine discounts may not be available at all Blue Cross and/or Blue Shield Companies.</em></li>
            <li>To learn more about the complementary and alternative medicine practitioners near you, or to receive a list of providers, their addresses and discounts available, call Tivity Health at <strong>888-242-2060</strong> (Monday – Friday 8 a.m. – 8 p.m. EST).</li>
            <li>Tivity Health is a registered trademark of Tivity Health, Inc.™, and/or its subsidiaries and/or affiliates in the USA and/or other countries. &nbsp;All other brand names, product names, registered trademarks, or trademarks are the property of their respective owners, which are in no way associated or affiliated with the Blue Cross and Blue Shield Association.</li>
          </ul>
        </div>
      </div>
      
    </article>
  </div><!-- // .deal__main -->
  
  <aside id="wayfinding" class="deal__aside">
    <div class="wayfinding__wrapper js-adhesive">
      
      <!-- Redeem clone -->
      <div id="dealredeem__moved" class="deal__aside__redeem"></div>
    
      <!-- Meta clone -->
      <div id="dealmeta__clone" class="deal__aside__meta"></div>

      <div class="logged-out deal__value-prop">
        <h5>What is Blue365?</h5>
        <p class="micro">Blue365 offers access to health and wellness deals exclusive to Blue members. We feature exclusive deals from brands that you trust with no membership fees or limits to how much you can save! <a href="{{ site.baseurl }}sign-in-flow-2.html#join">Get started now</a>!</p>
      </div>

    </div>
  </aside>
</div>

<div id="dealredeem__clone" class="deal__adhesive--footer"></div>