{% comment %}
  FILE NOT LONGER IN USE
{% endcomment %}

<!--
  Coupon code
  No code needed, continue shopping
  Print Instore Coupon
  Send coupon via Email
  Send Coupon via SMS
  Call this Phone number
-->
  {% comment %}
  <div class="redeem__continue">
    <h4 class="echo">Start Shopping</h4>
    <div class="flow-1">
      <a href="#" class="button button__primary" target="_blank"><span class="fa fa-external-link-square" aria-hidden="true"></span>Go to Partner Site</a>
    </div>
    
    <div class="flow-2">
      <a href="#external-notice" class="button button__primary js-inline-modal" target="_blank"><span class="fa fa-external-link-square" aria-hidden="true"></span>Shop on Partner Site</a>
    </div>
    <p class="redeem__message"><b>No code needed!</b> Your discount will be added at checkout.</p>
  </div>
  {% endcomment %}

  <div class="redeem__online">
    <h4 class="echo screen-reader-text">Online Coupon Code</h4>
    <div class="form__group form__input-button-pair redeem__copycode">
      <input class="form__input redeem__input" value="FIT4FALL" readonly>
      <a href="#" class="button button__primary" title="Copy Online Coupon Code"><span class="fa fa-clipboard" aria-hidden="true"></span>Copy Code</a>
    </div>
    <a href="https://fitnessyourway.tivityhealth.com" class="button button__primary" target="_blank"><span class="fa fa-external-link-square" aria-hidden="true"></span>Shop on Partner Site</a>
    
    {% comment %}<p class="redeem__message">Visit <a href="#external-notice" class="js-inline-modal">thesite.com</a> and use the code at checkout.</p>{% endcomment %}
  </div>
  
  {% comment %}
  <div class="redeem__instore">
    <h4 class="echo">Use in-store</h4>
    <a href="#" class="button button__primary" title="Print for in-store use"><span class="fa fa-print" aria-hidden="true"></span>Print</a>
    <a href="#" class="button button__primary" title="Send as an Email Message"><span class="fa fa-envelope" aria-hidden="true"></span>Email</a>
    <a href="#" class="button button__primary" title="Send as a Text Message"><span class="fa fa-mobile" aria-hidden="true"></span>Text</a>
  </div>
  {% endcomment %}