<header class="deal__header">
	<h1 class="deal__title">
		<img class="deal__title__logo" src="https://www.blue365deals.com/sites/default/files/styles/merchant_logo/public/merchant/logos/owg_logo_horz.jpg?itok=GyLROL6j" alt="THE ORGANWISE GUYS">
		<div id="deal-brand" class="deal__title__brand">THE ORGANWISE GUYS:</div>
		<div class="deal__title__offer">
  		10% Off Kid&rsquo;s Monthly Nutrition Education Program plus Free Shipping
    </div>
  </h1>
  <div class="deal__actions">
    <p class="deal__price">
      <span class="deal__price__after"><ins title="Blue365 Deal Price">$22.46</ins></ins>
      <span class="deal__price__before"><del title="Regular Price">$24.95</del></span>
      <span class="deal__price__recurrence">Monthly</span>
    </p>
    
    
    <div class="deal__redeem logged-out">
      <p>
        <a href="#signin" class="button button__primary deal__signin__button js-inline-modal-signin">Sign In / Join</a>
        <a href="#" class="button button__disabled deal__redeem__button">Redeem</a>
      </p>
    </div><!-- End logged-out -->

    
    <div class="flow-1">
      <div class="deal__redeem logged-in">
        <h3 class="deal__redeem__title">Redemption Options:</h3>
        
        {% include deals/deal-redemption.html %}
        
      </div><!-- End logged-in -->
    </div><!-- End flow-1 -->
    
    <div class="flow-2">
      <div class="deal__redeem logged-in">
        <a href="#redeem" class="button button__primary deal__redeem__button js-inline-modal-redeem">Redeem Now</a>
        <a href="#" class="button button__secondary deal__signout__button">Sign Out</a>
      </div><!-- End logged-in -->
    </div><!-- End flow-1 -->
    
    
  </div>
  <div class="deal__featured">
    <img class="deal__featured__image" src="https://www.blue365deals.com/sites/default/files/styles/deal_node_featured_image/public/deal-images/corcell_62_939x394.jpg?itok=ApZ1w2jP">
    <div class="deal__details__meta">
      <p><a href="#" title="More from this category">Wellness</a></p>
    </div>
  </div>
</header>