<header class="deal__header">
	<h1 class="deal__title">
		<img class="deal__title__logo" src="https://www.blue365deals.com/sites/default/files/styles/merchant_logo/public/merchant/logos/back_to_school_logo.png?itok=59UID9WO" alt="WELLNESS CODES">
		<div id="deal-brand" class="deal__title__brand">WELLNESS CODES-BACK TO SCHOOL:</div>
		<div class="deal__title__offer">
  		10%&ndash;25% Off Kids Fitness Trackers, School Lunch Coolers , Water Bottles and STEM Toys
    </div>
  </h1>
  <div class="deal__actions">
    <!--<p class="deal__price">
      <span class="deal__price__after"><ins title="Blue365 Deal Price">$22.46</ins></ins>
      <span class="deal__price__before"><del title="Regular Price">$24.95</del></span>
      <span class="deal__price__recurrence">Monthly</span>
    </p>-->
    
    
    <div class="deal__redeem logged-out">
      <p>
        <a href="#signin" class="button button__primary deal__signin__button js-inline-modal-signin">Sign In / Join</a>
        <a href="#" class="button button__disabled deal__redeem__button">Redeem</a>
      </p>
    </div><!-- End logged-out -->

    
    <div class="flow-1">
      <div class="deal__redeem logged-in">
        <h3 class="deal__redeem__title">Redemption Options:</h3>
        
        {% include deals/deal-redemption.html %}
        
      </div><!-- End logged-in -->
    </div><!-- End flow-1 -->
    
    <div class="flow-2">
      <div class="deal__redeem logged-in">
        <a href="#redeem" class="button button__primary deal__redeem__button js-inline-modal-redeem">Redeem Now</a>
        <a href="#" class="button button__secondary deal__signout__button">Sign Out</a>
      </div><!-- End logged-in -->
    </div><!-- End flow-1 -->
    
    
  </div>
  <div class="deal__featured">
    
    <div class="deal__featured__gallery">
      <ul class="menu">
        <li><img class="deal__featured__gallery__image" src="https://www.blue365deals.com/sites/default/files/uploads/garmin_r_vivofitjrfamily_hr_35410.png"></li>
        <li><img class="deal__featured__gallery__image" src="https://www.blue365deals.com/sites/default/files/uploads/k45363_ualunchcooler_graphite.png"></li>
        <li><img class="deal__featured__gallery__image" src="https://www.blue365deals.com/sites/default/files/uploads/up4905bl_64ozhydration_blue_rgb_0.png"></li>
        <li><img class="deal__featured__gallery__image" src="https://www.blue365deals.com/sites/default/files/uploads/thermos_lime_green.jpg"></li>
        <li><img class="deal__featured__gallery__image" src="https://www.blue365deals.com/sites/default/files/uploads/stem_chem_set_image.jpg"></li>
      </ul>
    </div>
    
    <div class="deal__details__meta">
      <p><a href="#" title="More from this category">Wellness</a></p>
    </div>
  </div>
</header>