<footer class="deal__footer related">
  <div class="deal__footer__container">
    
    <div class="flow-1">
      <h3 class="deal__footer__title">Related deals from <a href="{{ site.baseurl }}flow-1.html">Fitness</a>:</h3>
      <div class="grid related__deals">
        {% include deal-card-1.html %}
        {% include deal-card-1.html %}
      </div>
    </div>
    <div class="flow-2">
      <h3 class="deal__footer__title">Related deals from <a href="{{ site.baseurl }}flow-2.html">Fitness</a>:</h3>
      <div class="grid grid--duo related__deals">
        {% include deal-card-2.html %}
        {% include deal-card-2.html %}
      </div>
    </div>
    

  </div><!-- deal__footer__container -->
  <div class="deal__footer__container">
    
    <h3 class="deal__footer__title">Related content from <a href="#">Healthy Tips</a>:</h3>
    <div class="related__news">
      <div class="blog-card__wrapper">
        <div class="blog-card__content entry-content">
          <a href="#" class="blog-card__link">
            <h4 class="blog-card__title">Healthy School Lunches done Five Ways</h4>
            <p class="blog-card__excerpt">Preparing creative lunches that kids will actually eat can be daunting. Here are five ways to make it easier that your kids will appreciate. <span class="blog-card__more">Read More</span></p>
          </a>
        </div>
      </div>
      <div class="blog-card__wrapper">
        <div class="blog-card__content entry-content">
          <a href="#" class="blog-card__link">
            <h4 class="blog-card__title">Get the Most from your Gym</h4>
            <p class="blog-card__excerpt">You have a gym membership, you have the gear. Now what? Our expert panel gives you ways to make the most of your membership. <span class="blog-card__more">Read More</span></p>
          </a>
        </div>
      </div>
    </div><!-- related__news -->

  </div><!-- deal__footer__container -->
</footer>