<footer class="deal__footer">
  
  <div class="related__deals">
    <h3 class="deal__footer__title">More Deals from <a href="#">Wellness</a>:</h3>
    <div class="grid grid--quartet-small">
      {% include deal-card.html %}
      {% include deal-card.html %}
      {% include deal-card.html %}
      <div class="grid__item">
        {% include promo.html %}
      </div>
    </div>
  </div>
  
  <div class="related__news">
    <h3 class="deal__footer__title">Related content from <a href="#">Healthy Tips</a>:</h3>
    <div class="grid grid--trio">
      
      <div class="grid__item blog-card__wrapper">
        <div class="blog-card__content entry-content">
          <a href="#" class="blog-card__link">
            <h4 class="blog-card__title">Healthy School Lunches done Five Ways</h4>
            <p class="blog-card__excerpt">Preparing creative lunches that kids will actually eat can be daunting. Here are five ways to make it easier that your kids will appreciate. <span class="blog-card__more">Read More</span></p>
          </a>
        </div>
      </div>
      
      <div class="grid__item blog-card__wrapper">
        <div class="blog-card__content entry-content">
          <a href="#" class="blog-card__link">
            <h4 class="blog-card__title">Get the Most from your Gym</h4>
            <p class="blog-card__excerpt">You have a gym membership, you have the gear. Now what? Our expert panel gives you ways to make th emost of your membership. <span class="blog-card__more">Read More</span></p>
          </a>
        </div>
      </div>
      
      <div class="grid__item blog-card__wrapper">
        <div class="blog-card__content entry-content">
          <a href="#" class="blog-card__link">
            <h4 class="blog-card__title">The Health Benefits of Travel</h4>
            <p class="blog-card__excerpt">Rest and relaxation is beneficial, of course. But there are other ways that getting out of your comfort zone can be healthy. <span class="blog-card__more">Read More</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>

</footer>