<div class="deal-filters">
    
  <h4><b>60 deals</b></h4>
  
  <div class="deal-filters__container">
    <ul class="deal-filters__group menu">
      <li class="deal-filters__group--categories has-submenu">
        <a href="javascript:;" class="js-menu-trigger"><span class="hide-for-mobile">Filter by </span>Category <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></a>
        <ul class="deal-filters__group__list has-submenu__list menu">
    			<li><a href="{{ site.baseurl }}category.html"><span class="fa fa-check-square-o" aria-hidden="true"> All Deals</a> (60)</li>
    			<li><a href="{{ site.baseurl }}category.html"><span class="fa fa-square-o" aria-hidden="true"></span> Apparel &amp; Footwear</a> (8)</li>
    			<li><a href="{{ site.baseurl }}category.html"><span class="fa fa-square-o" aria-hidden="true"></span> Hearing & Vision</a> (10)</li>
    			<li><a href="{{ site.baseurl }}category.html"><span class="fa fa-square-o" aria-hidden="true"></span> Home &amp; Family</a> (4)</li>
          <li><a href="{{ site.baseurl }}category.html"><span class="fa fa-square-o" aria-hidden="true"></span> Fitness</a> (12)</li>
          <li><a href="{{ site.baseurl }}category.html"><span class="fa fa-square-o" aria-hidden="true"></span> Personal Care</a> (12)</li>
    		  <li><a href="{{ site.baseurl }}category.html"><span class="fa fa-square-o" aria-hidden="true"></span> Nutrition</a> (8)</li>
    		  <li><a href="{{ site.baseurl }}category.html"><span class="fa fa-square-o" aria-hidden="true"></span> Travel</a> (2)</li>
    		</ul>
      </li>
      
      <li class="deal-filters__group--location has-submenu">
        <a href="javascript:;" class="js-menu-trigger"><span class="hide-for-mobile">Filter by </span>Location <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></a>
        <ul class="deal-filters__group__list has-submenu__list menu">
          <li>
            <div class="deal-filters__sub-group">
              <h5 class="screen-reader-text">Select a Region</h5>
              <select>
              	<option value="Ch">Champagne</option>
              	<option value="CHI">Chicago metro area</option>
              	<option value="DV">Davenport</option>
              	<option value="MA">Marion</option>
              	<option value="SPR">Springfield</option>
              </select>
            </div>
          </li>
        </ul>
      </li>
      <li class="deal-filters__group--keyword has-submenu">
        <a href="javascript:;" class="js-menu-trigger">Search<span class="hide-for-mobile"> by Keyword</span> <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></a>
        <ul class="deal-filters__group__list has-submenu__list menu">
          <li class="deal-filter__search">
            <form class="sitesearch__form">
              <fieldset class="sitesearch__wrapper">
                <label class="form__label screen-reader-text">Search by Keyword</label>
                <input class="sitesearch__input form__input" type="search" placeholder="Ex: Brand Name">
                <input class="sitesearch__button form__action" type="submit" value="Go">
              </fieldset>
            </form>
          </li>
        </ul>
      </li> 
      
      <li class="deal-filters__group--sort has-submenu">
        <a href="javascript:;" class="js-menu-trigger">Sort <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></a>
        <ul class="deal-filters__group__list has-submenu__list menu">
          <li><a href="#"><span class="fa fa-square-o" aria-hidden="true"></span> Flash Sales</a></li>
          <li><a href="#"><span class="fa fa-check-square-o" aria-hidden="true"></span> Expiring Soon</a></li>
          <li><a href="#"><span class="fa fa-square-o" aria-hidden="true"></span> Newest</a></li>
          <li><a href="#"><span class="fa fa-square-o" aria-hidden="true"></span> Most Popular</a></li>
        </ul>
      </li>
    </ul>
  </div>
  
</div>