.layout {

  //&__container {
  //  min-width: $min-width;
  //  max-width: $max-width;
  
  //  /*body*/.full-width & {
  //    max-width: none;
  //  }
  //}

  //&__content {
  //  padding: 0 $page-gutter;
  //}
}

// Grid System using flexbox
// 1. solo 
// 2. duo 
// 3. trio 
// 4. quartet 
// 5. quint 
// 6. sextet 
// 7. septet 
// 8. octet 
// 9. nonet
.grid {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

	&__item {
  	//padding: 0 $page-gutter;
	}

  &--sample &--item {
    border: 1px solid $color-borders;
  }


  /*<div class="grid grid__rail-left">
		<div class="grid__item grid__item__main">
			[ ... ]
		</div>
		<aside class="grid__item grid__item__rail">
			[ ... ]
		</aside>
	</div>*/
	&__rail-left {}
	
	&__rail-right {}
  
	@include media($small) {
  
	  &__rail-left &__item__main,
	  &__rail-right &__item__main {
  		width: percentage(7/$grid-columns);
    }
  
	  &__rail-left &__item__rail
	  &__rail-right &__item__rail {
	  	width: percentage(5/$grid-columns);
	  }
	}
  
	@include media($medium) {
  
	  &__rail-left &__item__main,
	  &__rail-right &__item__main {
  		width: percentage(8/$grid-columns);
    }
    
    //&__rail-left &__item__main {
  	//	padding-right: $page-gutter;
    //}
    //&__rail-right &__item__main {
  	//	padding-left: $page-gutter;
    //}
  
	  &__rail-left &__item__rail,
	  &__rail-right &__item__rail {
	  	width: percentage(4/$grid-columns);
	  	//padding-left: $page-gutter;
	  	//padding-right: $page-gutter;
	  }
	}
  
	@include media($large-up) {
  
	  &__rail-left &__item__main,
	  &__rail-right &__item__main {
  		width: percentage(8.5/$grid-columns);
    }
    
    &__rail-left &__item__main {
  		padding-right: $page-gutter;
    }
    &__rail-right &__item__main {
  		padding-left: $page-gutter;
    }
  
	  &__rail-left &__item__rail,
	  &__rail-right &__item__rail {
	  	width: percentage(3.5/$grid-columns);
	  	padding-left: $page-gutter;
	  	padding-right: $page-gutter;
	  }
	} // end &__rail-left


	// This one grows from a single col to two
	&--duo &__item {
    width: 100%;

		@include media($small-up) {
			width: 50%;
		}
	}


	// This one grows from a single col to a three
	&--trio &__item {
    width: 100%;

		@include media($medium-up) {
			// We are using space around, which should distribute the remaining 4% between items
			width: 32%;
		}
	}
	
	// This one starts at a two column and goes up to three
	&--trio-small &__item {
		width: 48%;

    @include media($medium-up) {
			width: 32%;
		}
	}


	// This one grows from a single col to a two and stops at four
	&--quartet &__item {
    width: 100%;

		@include media($small-up) {
			width: 48%;
		}

    @include media($large-up) {
			// We are using space around, which should distribute the remaining 6% between items
			width: 23.5%;
		}
	}
	
	// This one starts at a two column and goes up to four
	&--quartet-small &__item {
		width: 48%;

    @include media($medium-up) {
			width: 23.5%;
		}
	}


	// This one starts at two over threee, then three over two, then six across
	//&__sextet &--item {
  //  width: percentage(6/$grid-columns);
  //
	//	@include media($small) {
	//		width: percentage(4/$grid-columns);
	//	}
  //
	//	@include media($large-up) {
	//		width: percentage(2/$grid-columns);
	//	}
	//}
}
