<div class="form--join-form">
        <form class="form">
          
          <h2>Congrats!</h2>
          <p style="margin-bottom: 1.5rem"><strong>Blue Cross Blue Shield of Indiana participates in Blue365!</strong> Now let’s finish your registration.</p>
          
          <legend class="screen-reader-text">Complete Registration</legend>
          
          <div class="form__group social-logins">
            <h4 class="text-over-line"><span>Register With:</span></h4>
            <p>
              <button class="button button__secondary" type="submit"><span class="fa fa-facebook-official" aria-hidden="true"></span> Facebook</button>
              <button class="button button__secondary" type="submit"><span class="fa fa-google-plus-square" aria-hidden="true"></span> Google+</button>
              <button class="button button__secondary" type="submit"><span class="fa fa-apple" aria-hidden="true"></span> Apple ID</button>
            </p>
          </div>
          
          <h4 class="text-over-line"><span>Or register using your email address:</span></h4>
          
          <div class="form__group">
            <label for="email">Email</label>
            <input class="form__input" type="email" id="email" value="name@domain.com">
          </div>
          
          <span class="screen-reader-text">Create and Confirm Password</span>
          <p style="margin: 1rem 0;"><strong>Requirements:</strong> Passwords must be at least 8 characters in length, use at least one number and one letter (can not be all letters or all numbers)</p>
          <div class="grid grid--duo">
            <div class="grid__item form__group form__group__indicators">
              <label for="password">Password</label>
              <div class="password__strength indicator">
                <span class="indicator__label">Strength: </span><span class="indicator__value">Weak</span>
              </div>
              <input class="form__input js-toggle-type" type="password" id="password">
            </div>
            <div class="grid__item form__group form__group__indicators">
              <label for="password">Confirm Password</label>
              <div class="password__match indicator">
                <span class="indicator__label">Passwords Match: </span><span class="indicator__value">No</span>
              </div>
              <input class="form__input js-toggle-type" type="password" id="password">
            </div>
          </div>
          <p style="margin: -1rem 0 2rem;"><label for="showpass"><input name="showpass" id="showpass" type="checkbox" class="js-toggle-type-trigger"> <span class="js-toggle-type-text">Show</span> Passwords</label></p>
          
          <div class="grid grid--duo">
            <div class="grid__item form__group">
              <label for="first">First Name</label>
              <input class="form__input" type="text" id="first" placeholder="">
            </div>
            <div class="grid__item form__group">
              <label for="last">Last Name</label>
              <input class="form__input" type="text" id="last" placeholder="">
            </div>
          </div>
          
          <div class="grid grid--duo">
            <div class="grid__item form__group">
              <label for="birthyear">Birth Year</label>
              <input class="form__input" type="text" id="birthyear" placeholder="ex: 1990">
            </div>
            <div class="grid__item form__group">
              <label for="zip">Zip Code</label>
              <input class="form__input" type="text" id="zip" placeholder="ex: 12345">
            </div>
          </div>
          
          <fieldset>
            <div class="form__group">
              <label for="memberauth">Member and E-mail Authorization</label>
              <div style="height: 10em; overflow-y: scroll; border: 1px solid #d2d2d2; padding: 1em; margin-bottom: 1.75em;">
                <p>By clicking on the “REGISTER” button after reading this:</p>
                <ul><li>I authorize my local Blue Company to disclose to the Blue Cross Blue Shield Association (“BCBSA”) information about me so that BCBSA can make special discounts and offers available to me, including, but not limited to, my name, e-mail address, age, zip code, and status as a member of my local Blue Company;</li>
                <li>I authorize both BCBSA and my local Blue Company to send me communications about these special discounts and offers; I acknowledge that some of the offers and discounts are not health related and that BCBSA may receive payments from Blue365 vendors under the Blue365 program; and</li>
                <li>If I have questions about a Blue365 vendor or a Blue365 vendor’s products and services and Blue365 or my local Blue Company determines that the vendor is in a better position to respond, I authorize BCBSA and my local Blue Company to forward my question and my e-mail address to the vendor so the Blue365 vendor can respond to my question directly.</li>
                </ul><p>I understand that BCBSA is not subject to federal health information privacy laws and any information BCBSA receives will no longer be subject to such laws.&nbsp; This authorization is voluntary.&nbsp; My local Blue Company will not condition payment, enrollment in a health plan, or eligibility for benefits on whether I sign this authorization.&nbsp; I may revoke this authorization by sending a request in writing to: Blue365 Member Services, 225 North Michigan Ave., Chicago, IL, 60601-7680, or alternatively, by sending an email to: support@Blue365deals.com.&nbsp; When I revoke this authorization, the revocation will <em>not</em> affect any disclosure my local Blue Company made before the revocation.&nbsp; This authorization expires one year after I disenroll from my local Blue Company.</p>
                <p>I have had full opportunity to read and consider the contents of this authorization.&nbsp; I understand that, by clicking on the “REGISTER” button, below, I am confirming my authorization for the uses and disclosures of information about me, as described in this form.</p>
                <p><em>Date: 08/22/2017</em></p>
                <p><a href="#" class="button button__secondary">Print</a></p>
              </div>
            </div>
            <div class="form__group">
              <div class="form__checkbox">
                <input type="checkbox" id="edit-field-terms-and-conditions-1-und-agree" name="field_terms_and_conditions_1[und][agree]" value="agree" class="form-checkbox">
                <label class="option" for="edit-field-terms-and-conditions-1-und-agree">I read, considered, understand and agree to the entire contents of the Member and Email Authorization that appears in the scroll down screen above. I understand that, by clicking on the "REGISTER" button, below, I am confirming my authorization for the use and disclosure of information about me, as described therein.</label>
              </div>
            </div>
            <div class="form__group">
              <div class="form__checkbox">
                <input type="checkbox" id="edit-field-terms-and-conditions-2-und-agree" name="field_terms_and_conditions_2[und][agree]" value="agree" class="form-checkbox">
                <label class="option" for="edit-field-terms-and-conditions-2-und-agree">I have read and agree to Blue 365's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></label>
              </div>
            </div>
          </fieldset>
          
          
          <div class="form__actions">
            <a href="#" class="form__submit button button__primary js-set-login">Register</a>
          </div>
          
          
          <p>&nbsp;</p>
        </form>
      </div>