<div class="form--join-form">
        <form class="form">
          <legend class="screen-reader-text">Become a Member</legend>
          <div class="form__group">
            <h3>Create a Profile with an external Account</h3>
            <p>
              <input class="button button__secondary" type="submit" value="Facebook">
              <input class="button button__secondary" type="submit" value="Google+">
              <input class="button button__secondary" type="submit" value="Apple ID">
            </p>
          </div>
          <fieldset>
            <legend>Account Information</legend>
            <div class="form__group">
              <label for="name">Name</label>
              <input class="form__input" type="text" id="name" placeholder="First (Middle) Last">
            </div>
            <div class="form__group">
              <label for="email">Email</label>
              <input class="form__input" type="email" id="email" placeholder="name@domain.com">
            </div>
            <div class="form__group">
              <label for="password">Password</label>
              <input class="form__input" type="password" id="password">
            </div>
          </fieldset>
          <fieldset>
            <legend>BlueCross BlueShield Information</legend>
            <div class="form__group">
              <label for="alphaprefix">ID Card Prefix</label>
              <input class="form__input" type="text" id="alphaprefix" placeholder="XYZ">
            </div>
            <div class="form__group">
              <label for="birthyear">Birth Year</label>
              <input class="form__input" type="text" id="birthyear" placeholder="2004">
            </div>
            <div class="form__group">
              <label for="zip">Zip Code</label>
              <input class="form__input" type="text" id="zip" placeholder="01234">
            </div>
          </fieldset>
          <fieldset>
            <legend>Legal Terms Opt-In</legend>
            <div class="form__group">
              <label for="memberauth">Member and E-mail Authorization</label>
              <div style="height: 10em; overflow-y: scroll; border: 1px solid #d2d2d2; padding: 1em; margin-bottom: 1.75em;">
                <p>By clicking on the “REGISTER” button after reading this:</p>
                <ul><li>I authorize my local Blue Company to disclose to the Blue Cross Blue Shield Association (“BCBSA”) information about me so that BCBSA can make special discounts and offers available to me, including, but not limited to, my name, e-mail address, age, zip code, and status as a member of my local Blue Company;</li>
                <li>I authorize both BCBSA and my local Blue Company to send me communications about these special discounts and offers; I acknowledge that some of the offers and discounts are not health related and that BCBSA may receive payments from Blue365 vendors under the Blue365 program; and</li>
                <li>If I have questions about a Blue365 vendor or a Blue365 vendor’s products and services and Blue365 or my local Blue Company determines that the vendor is in a better position to respond, I authorize BCBSA and my local Blue Company to forward my question and my e-mail address to the vendor so the Blue365 vendor can respond to my question directly.</li>
                </ul><p>I understand that BCBSA is not subject to federal health information privacy laws and any information BCBSA receives will no longer be subject to such laws.&nbsp; This authorization is voluntary.&nbsp; My local Blue Company will not condition payment, enrollment in a health plan, or eligibility for benefits on whether I sign this authorization.&nbsp; I may revoke this authorization by sending a request in writing to: Blue365 Member Services, 225 North Michigan Ave., Chicago, IL, 60601-7680, or alternatively, by sending an email to: support@Blue365deals.com.&nbsp; When I revoke this authorization, the revocation will <em>not</em> affect any disclosure my local Blue Company made before the revocation.&nbsp; This authorization expires one year after I disenroll from my local Blue Company.</p>
                <p>I have had full opportunity to read and consider the contents of this authorization.&nbsp; I understand that, by clicking on the “REGISTER” button, below, I am confirming my authorization for the uses and disclosures of information about me, as described in this form.</p>
                <p><em>Date: 08/22/2017</em></p>
              </div>
            </div>
            <div class="form__group">
              <label for="terms1">Terms &amp; Conditions 1</label>
              <div class="form__checkbox">
                <input type="checkbox" id="edit-field-terms-and-conditions-1-und-agree" name="field_terms_and_conditions_1[und][agree]" value="agree" class="form-checkbox">
                <label class="option" for="edit-field-terms-and-conditions-1-und-agree">I read, considered, understand and agree to the entire contents of the Member and Email Authorization that appears in the scroll down screen above. I understand that, by clicking on the "REGISTER" button, below, I am confirming my authorization for the use and disclosure of information about me, as described therein.</label>
              </div>
            </div>
            <div class="form__group">
              <label for="terms2">Terms &amp; Conditions 2</label>
              <div class="form__checkbox">
                <input type="checkbox" id="edit-field-terms-and-conditions-2-und-agree" name="field_terms_and_conditions_2[und][agree]" value="agree" class="form-checkbox">
                <label class="option" for="edit-field-terms-and-conditions-2-und-agree">I have read and agree to Blue 365's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></label>
              </div>
            </div>
          </fieldset>
          
          
          <div class="flow-1 form__actions">
            <a href="{{ site.baseurl }}flow-1-deal-logged-in.html" class="form__submit button button__primary">Let&rsquo;s Go!</a>
          </div>
          <div class="flow-2 form__actions">
            <a href="{{ site.baseurl }}flow-2-deal-logged-in.html" class="form__submit button button__primary">Let&rsquo;s Go!</a>
          </div>
          
          
          <p>&nbsp;</p>
        </form>
      </div>