      <div class="form--login-form">
        <form class="form">
          <legend class="screen-reader-text">Sign In</legend>
          <div class="form__group">
            <label for="email">Email</label>
            <input class="form__input" type="email" id="email" placeholder="name@domain.com">
          </div>
          <div class="form__group">
            <label for="password">Password</label>
            <input class="form__input" type="password" id="password">
          </div>
          
          
          <div class="flow-1 form__actions">
            <a href="{{ site.baseurl }}flow-1-logged-in.html" class="form__submit button button__primary js-set-login">Let&rsquo;s Go!</a>
            <a href="#">Forgot Password?</a>
          </div>
          <div class="flow-2 form__actions">
            <a href="{{ site.baseurl }}flow-2-logged-in.html" class="form__submit button button__primary js-set-login">Let&rsquo;s Go!</a>
            <a href="#">Forgot Password?</a>
          </div>
          
          
          <p>&nbsp;</p>
          <div class="form__group">
            <h3>Use Social Logins</h3>
            <p>
              <input class="button button__secondary" type="submit" value="Facebook">
              <input class="button button__secondary" type="submit" value="Google+">
              <input class="button button__secondary" type="submit" value="Apple ID">
            </p>
          </div>
        </form>
      </div>
