      <div class="form--login-form">
        <form class="form">
          <legend class="screen-reader-text">Sign In</legend>
          <div class="form__group">
            <label for="email">Email</label>
            <input class="form__input" type="email" id="email" placeholder="name@domain.com">
          </div>
          <div class="form__group">
            <label for="password">Password</label>
            <input class="form__input" type="password" id="password" placeholder="It was an 8 chartacter minimum using at least 1 number and 1 letter">
          </div>
          <div class="form__actions">
            <a href="#" class="form__submit button button__primary js-set-login">Sign In</a>
            <a href="#">Forgot Password?</a>
          </div>
          
          <p>&nbsp;</p>
          <div class="form__group social-logins">
            
            <h4 class="text-over-line"><span>Or Log In With:</span></h4>
            <p>
              <button class="button button__secondary" type="submit"><span class="fa fa-facebook-official" aria-hidden="true"></span> Facebook</button>
              <button class="button button__secondary" type="submit"><span class="fa fa-google-plus-square" aria-hidden="true"></span> Google+</button>
              <button class="button button__secondary" type="submit"><span class="fa fa-apple" aria-hidden="true"></span> Apple ID</button>
            </p>
          </div>
        </form>
      </div>
