// Waypoints
#wayfinding {
  position: relative;
}

.js-adhesive.stuck {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: auto;

  .sidebar--rail-left &,
  .sidebar--rail-right & {
    
    @include media($small-up) {
    	width: percentage(5/$grid-columns);
    }
    @include media($medium-up) {
    	width: percentage(4/$grid-columns);
    }
    @include media($large-up) {
    	width: percentage(3.5/$grid-columns);
    }
  }
  
  .for-employers .sidebar--rail-left &,
  .for-employers .sidebar--rail-right &,
  .terms-of-use .sidebar--rail-left &,
  .terms-of-use .sidebar--rail-right & {
    
    @include media($xlarge-up) {
      width: 25%;
    }
    
    @include media($xxlarge-up) {
      width: 22%;
    }
  }
  
  .sidebar--rail-left & {
    left: 0;
  }
  
  .sidebar--rail-right & {
    right: 0;
  }
}

.js-adhesive.stuck.hit-bottom {
  position: absolute;
  top: auto;
  bottom: ($page-gutter * 2);
  
  .sidebar--rail-left &,
  .sidebar--rail-right & {
    left: 0;
    width: 100%;
  }
}