// Waypoints
#wayfinding {
  position: relative;
}

.js-adhesive.stuck {
  position: fixed;
  top: 0;
  overflow-y: scroll;

  .deal__aside & {
    left: calc(66.66% + #{$page-gutter});
    right: $page-gutter;
    bottom: 0;
  }
  
  .sidebar--rail-left &,
  .sidebar--rail-right & {
    
    @include media($small-up) {
    	width: percentage(5/$grid-columns);
    }
    @include media($medium-up) {
    	width: percentage(4/$grid-columns);
    }
    @include media($large-up) {
    	width: percentage(3.5/$grid-columns);
    }
  }
  
  .sidebar--rail-left & {
    left: 0;
  }
  
  .sidebar--rail-right & {
    right: 0;
  }
}

.js-adhesive.stuck.hit-bottom {
  position: absolute;
  top: auto;
  bottom: ($page-gutter * 2);

  .deal__aside & {
    left: $page-gutter;
    right: $page-gutter;
  }
  
  .sidebar--rail-left & {
    left: 0;
    width: 100%;
  }
  
  .sidebar--rail-right & {
    left: 0;
    width: 100%;
  }
}