// Move the border to the grid element so it gets align-items: stretch
.deal-archive .child-wrapper {
  border: 1px solid $color-borders;
  margin-bottom: $vert-line-height/2;
}

.deal-archive .deal-card {
  border: 0;
}


.deal-card {
  background-color: palette(mono, white);
  border: 1px solid $color-borders;

  &--feature {
    border: 2px solid palette(brand) !important;
  }

  &--feature &__brand {
    font-weight: $font-weight-bold;
  }

  &__header {}

  &__category {
    
    &__link {
      display: block;
      font-size: .875em;
      padding: .375em .75em;
      text-transform: uppercase;

      @include touch-hover() {
        background-color: palette(brand);
        color: palette(mono, white);
      }
      @include touch-hover('hover') {
        background-color: palette(mono, 90);
        color: palette(brand);
      }
    }
  }

  &__link {
    display: block;
  }

  &__thumb {
    position: relative;

    img {}
  }

  // Show only in special circumstances
  &--featured-element {
    @include hide();
  }

  //<div class="deal-card__flash">
  //  Flash Sale!
  //</div>
  //<div class="deal-card__expiring">
  //  <span class="deal-card__expiring__days">4</span> days left
  //</div>
  //<div class="deal-card__location">
  //  Locations Near You!
  //</div>

  &__flash,
  &__expiring,
  &__location {
    display: inline-block;
    line-height: 1;
    padding: .625em .75em .5em;
  }
  
  &__flash {
    background-color: rgba(palette(brand, red), .75);
    color: palette(mono, white);
    
    @include media($xsmall-up) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__expiring {
    background-color: rgba(palette(mono, 75), .75);
    color: palette(mono, white);
    font-size: 1rem;
    position: absolute;
    right: 0;
    top: 0;

    &__days {
      font-weight: $font-weight-bold;
    }
  }
  
  &__location {
    background-color: rgba(palette(brand), .75);
    color: palette(mono, white);
    
    //@include media($small-up) {
      position: absolute;
      right: 0;
      bottom: 0;;
    //}
  }

  &__brand,
  &__offer,
  &__actions,
  &--featured-element {
    padding-left: $page-gutter;
    padding-right: $page-gutter;
  }
  
  &__brand {
    
    &__logo {
      margin: 0 auto;
      max-width: 260px;
      max-height: 100px;
    }
  }

  &__offer {

    &__content {
      font-weight: $font-weight-normal;
    }
  }

  //<footer class="deal-card__actions">
  //  <a href="#redeem" class="button button__primary js-inline-modal">Redeem Now</a>
  //  <a href="#" class="deal-card__favorite deal-card__favorite--off"><span class="fa fa-heart-o" aria-hidden="true"></a>
  //</footer>
  &__actions {
    padding-top: $vert-line-height/2;
    
    .button {
      font-size: 87.5%;
      font-weight: $font-weight-bold;
    }
  }
  
  // <a href="#" class="deal-card__favorite deal-card__favorite--off"><span class="fa fa-heart" aria-hidden="true"></span><span class="fa fa-heart-o" aria-hidden="true"></span></a>
  &__favorite {
    display: inline-block;
    position: relative;
    margin-left: .75em;
    
    &__count {
      margin-left: .75em;
      white-space: nowrap;
    }
    
    .fa:before {
      font-size: 150%;
    }
    
    .fa-heart-o,
    .fa-heart {
      transition: 300ms all ease;
    }
    
    &--off .fa-heart {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(1.66);
    }
    
    &--off:hover .fa-heart {
      opacity: 1;
      transform: scale(1);
      
      &:after {
        position: absolute;
        top: 25%;
        left: 125%;
        background-color: palette(mono, white);
        content: ' Favorite';
        font-size: 87.75%;
      }
    }
    
    &--on .fa-heart-o {
      color: palette(mono, 75);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(1.66);
    }
    
    &--on:hover .fa-heart-o {
      opacity: 1;
      transform: scale(1);
      
      &:after {
        position: absolute;
        top: 25%;
        left: 125%;
        background-color: palette(mono, white);
        content: ' Unfavorite';
        font-size: 87.75%;
      }
    }
  }
  
  &__favorite--on {
    @include hide;
  }
}


// Resets for the different flows
.deal-card {
  
  &__1 {
    padding-bottom: 0;
  }
  
  &__1 &__category {
    position: relative;
    grid-area: category;
  }
  
  &__1 &__header {
    grid-area: header;
    position: relative;
  }
  
  &__1 &__thumb {
    // Start with a 21:9 aspect ratio
    @include proportional-container(21 9);
    
    img {
      // Image is naturally 16:9, so we are cropping the top and bottom
      @include image-cover('100% auto');
    }
  }
  
  &__1 &__offer__content {
    padding: ($page-gutter/2) $page-gutter;
    margin: -2rem 1.5rem 0;
    background-color: palette(mono, white);
    text-align: center;
    position: relative;
    z-index: 2;

    span {
      font-weight: $font-weight-bold;
    }
  }
  
  &__1 &__flash {
    background-color: palette(brand, red);
  }
  
  &__1 &__link {
    text-align: center;
  }
  
  &__1 &__actions {
    border-top: 1px solid $color-borders;
    padding: $vert-line-height/2 0;
    margin: 0 $page-gutter;
    text-align: center;
    grid-area: actions;
  }
  
  &__1 &__brand {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: $vert-line-height/2;
  }
  
  @include media($small-up) {
    
    &__1 {
      display: grid;
      grid-template-columns: 6fr 4fr;
      grid-template-rows: auto;
      grid-column-gap: 0;
      grid-row-gap: 0;
      grid-template-areas: 
        "header category"
        "header actions";
    }
    
    &__1#{&}--feature &__thumb {
      // Slightly bigger than it was (21 9)
      padding-bottom: percentage(9/16);
    }
    
    &__1 &__flash,
    &__1 &__expiring {
      right: 100%;
      white-space: nowrap;
      z-index: 10;
    }
    
    &__1 &__brand {
      line-height: 1.33;
    }
    
    &__1 &__actions {
      border-top: 0;
      
      .button {
        margin-bottom: ($vert-line-height / 2);
      }
    }
  }
  
  @include media($medium-up) {
    
    // Go to a 16:9 aspect ratio
    &__1 &__thumb {
      padding-bottom: percentage(9/16);
    }
    
    &__1#{&}--feature &__thumb {
      padding-bottom: percentage(5/8);
      
      img {
        // Image is naturally 16:9, so now we are cropping the left and right
        @include image-cover('auto 100%');
      }
    }
  }
  
  @include media($large-up) {
    
    &__1 &__offer__content {
      position: absolute;
      bottom: 1rem;
      margin-top: 0;
      color: palette(mono, white);
      background-color: rgba(#000, 0.5);
    }
    
    // Change to a 8:5 aspect ratio
    &__1 &__thumb {
      padding-bottom: percentage(5/8);
      
      img {
        // Image is naturally 16:9, so now we are cropping the left and right
        @include image-cover('auto 100%');
      }
    }
    
    &__1#{&}--feature &__thumb {
      padding-bottom: percentage(3/4);
    }
  }


  //@include media($xlarge-up) {
  @media (min-width: 1200px) and (max-width: 1439px) {

    // Kill the grid for every card BUT the first one
    .deal-archive .child-wrapper:nth-child(n+2) &__1 {
      display: block;
    }

    // Kill the headline abs. positioning for everything BUT the first one
    .deal-archive .child-wrapper:nth-child(n+2) &__1 &__offer__content {
      position: relative;
      bottom: auto;
      margin-top: -2rem;
      color: inherit;
      background-color: palette(mono, white);

      span {
        font-size: 87.5%;
      }
    }

    // Make all images less tall, and change the crop
    &__1 &__thumb {
      padding-bottom: percentage(9/21);

      img {
        @include image-cover('100% auto');
      }
    }

    &__1#{&}--feature &__thumb {
      padding-bottom: percentage(9/16);
    }

    .deal-archive .child-wrapper:nth-child(n+2) &__1 &__actions {
      border-top: 1px solid $color-borders;
    }

    // Remove the right position on the Flash flag
    .deal-archive .child-wrapper:nth-child(n+2) &__1 &__flash,
    .deal-archive .child-wrapper:nth-child(n+2) &__1 &__expiring {
      right: 0;
    }
  }
  
  @include media($xxlarge-up) {
    
    .deal-archive .child-wrapper:nth-child(n+2) &__1 {
      align-items: center;
      grid-template-areas: 
        "category actions"
        "header actions"
        "header actions";
    }
    
    // Change the image again... first one, make less tall
    .deal-archive .child-wrapper:nth-child(1) &__1 &__thumb {
      padding-bottom: percentage(1/2);
      
      img {
        @include image-cover('100% auto');
      }
    }

    .deal-archive .child-wrapper:nth-child(n+2) &__1 &__thumb {
      padding-bottom: percentage(5/8);
      
      img {
        @include image-cover('auto 100%');
      }
    }

    .deal-archive .child-wrapper:nth-child(n+2) &__1 &__flash,
    .deal-archive .child-wrapper:nth-child(n+2) &__1 &__expiring {
      right: 0;
    }

    .deal-archive .child-wrapper:nth-child(n+2) &__1 &__offer__content {
      
      span {
        font-size: 87.5%;
      }
    }
  }
  
  @media (min-width: 1600px) {

    &__1 &__brand {
      line-height: 1.75;
    }
  }
}


// Whenever we need cards to be tall rather than wide at large breakpoints
.do-not-let-cards-go-side-by-side {

  @media (min-width: bp(small)) and (max-width: em(bppx(large) - 1px) ) {
    
    &.grid--duo .grid__item {
      width: 100%;
    }
  }
  
  @include media($large-up) {
    
    &.grid--duo .grid__item {
      width: 48.5%;
    }
  }

  @include media($small-up) {

    .child-wrapper {
      margin-bottom: 1rem;
    }

    .deal-card {
      display: block;
    }

    // Kill the headline abs. positioning
    .deal-card__offer__content {
      position: relative;
      bottom: auto;
      margin-top: -2rem;
      color: inherit;
      background-color: palette(mono, white);

      span {
        font-size: 87.5%;
      }
    }

    // Make all images less tall, and change the crop
    .deal-card__thumb {
      padding-bottom: percentage(9/21);

      img {
        @include image-cover('100% auto');
      }
    }

    .deal-card__actions {
      border-top: 1px solid $color-borders;
    }

    // Remove the right position on the Flash flag
    .deal-card__flash,
    .deal-card__expiring {
      right: 0;
    }
  }
}