//<div class="deal-filters">
//  <h4>60 deals</h4>
//  <div class="deal-filters__container">
//    <ul class="deal-filters__group menu">
//      <li class="deal-filters__group--categories has-submenu">
//        <a href="javascript:;" class="js-menu-trigger">Category <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></a>
//        <ul class="deal-filters__group__list has-submenu__list menu">
//    			<li><a href="{{ site.baseurl }}category.html"><span class="fa fa-check-square-o" aria-hidden="true"> All Deals</a> (60)</li>
//    			[...]
//    		</ul>
//      </li>
//      <li class="deal-filters__group--sort has-submenu">
//        <a href="javascript:;" class="js-menu-trigger">Sort <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></a>
//        <ul class="deal-filters__group__list has-submenu__list menu">
//          <li><a href="#"><span class="fa fa-check-square-o" aria-hidden="true"></span> Flash Sales</a></li>
//          [...]
//        </ul>
//      </li>
//      <li class="deal-filters__group--location has-submenu">
//        <a href="javascript:;" class="js-menu-trigger">Location <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></a>
//        <ul class="deal-filters__group__list has-submenu__list menu">
//          <li>
//            <div class="deal-filters__sub-group">
//              <h5>Select a State</h5>
//              <select>
//              	<option value="AL">Alabama (AL)</option>
//              	[...]
//              </select>
//            </div>
//          </li>
//        </ul>
//      </li>
//      <li class="deal-filters__group--keyword has-submenu">
//        <a href="javascript:;" class="js-menu-trigger">Keyword <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></a>
//        <ul class="deal-filters__group__list has-submenu__list menu">
//          <li class="deal-filter__search">
//            <form class="sitesearch__form">
//              <fieldset class="sitesearch__wrapper">
//                <label class="screen-reader-text form__label">Search Deals</label>
//                <input class="sitesearch__input form__input" type="search" placeholder="Search the Site">
//                <input class="sitesearch__button form__action" type="submit" value="Go">
//              </fieldset>
//            </form>
//          </li>
//        </ul>
//      </li> 
//    </ul>
//  </div>
//</div>

.deal-filters {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: $vert-line-height;

  &__group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    & > li {
      padding: 0 .375em;
      
      @include media($small-up) {
        padding: 0 .625em;
      }
    }

    &--categories .has-submenu__list {

      li {
        padding-right: .5em;

        a {
          display: inline-block;
          padding-right: .25em
        }
      }
    }

    &--location .has-submenu__list {
      padding: $page-gutter;
    }

    &--keyword {
      @include hide();

      @media (min-width: em(480)) {
        @include show(list-item);
      }
      
      .sitesearch__form {
        padding: $page-gutter;
        
        label {
          display: block;
        }
      }
    }
  }


  // Lots of changes needed to "open" up the previously hidden drop down menus
  @include media($medium-up) {

    // Remove display flex
    &,
    &__group {
      display: block;
    }

    // Need some space below the title
    h4 {
      margin-bottom: $page-gutter;
    }

    &__group {

      // Remove padding between top level list items
      & > li {
        padding: 0;
      }

      // Hide the down chevron icons
      & > li > a .fa {
        @include hide();
      }

      // Remove drop down styling
      .has-submenu__list {
        opacity: 1;
        position: static;
        border-width: 0 0 1px;
        box-shadow: none;
        margin-bottom: $page-gutter;
      }
      
      // Cancel out the padding we added above
      &--location .has-submenu__list,
      &--keyword .sitesearch__form {
        padding: 0 0 $page-gutter;
      }
      
      &--keyword .sitesearch__input {
        width: 180px;
      }
    }
  }
}


//.accordion {
//  position: relative;
//
//  &__container {
//    padding-top: $page-gutter;
//  }
//}


//@media (max-width: 759px) {
//  
//  .js .js-accordion h3 {
//    border: 1px solid $color-borders;
//    padding: .5rem 1rem .375rem;
//    position: relative;
//    
//    a {
//      display: block;
//      padding-right: 3rem;
//    }
//    
//    .fa {
//      @include show(inline);
//      font-size: 125%;
//      position: absolute;
//      top: .875rem;
//      right: 1rem;
//    }
//    
//    a .fa-minus-square {
//      opacity: 0;
//      transition: opacity 250ms ease;
//    }
//    a.open .fa-minus-square {
//      opacity: 1;
//    }
//  }
//  
//  .js .js-accordion-container {
//    max-height: 0;
//    overflow: hidden;
//    transition: max-height 400ms ease;
//    
//    &.open {
//      max-height: 900px;
//    }
//    
//    .deal-filters__group {
//      padding: 0 $page-gutter;
//    }
//  }
//}