
.deal-archive {
  padding: $vert-line-height 0;
}

.favorites .deal-archive {

  .child-wrapper:nth-child(1) {
    @include hide();
  }
}


.deals-list {
  margin-top: $vert-line-height;
  border-top: 1px solid $color-borders;
  padding-top: $vert-line-height;
  padding-bottom: $vert-line-height;

  &--favorites {
    
    .special-message {
      @include media($large-up) {
        margin-left: 25.5%;
      }
    }
    
    .deal-card__expiring,
    .deal-card__flash,
    .deal-card__location,
    .deal-card__favorite--off {
      @include hide;
    }
    
    .deal-card__favorite--on {
      @include show(inline-block);
    }
  }

  &--history {

    &__item {
      border-bottom: 1px solid $color-borders;
      margin-bottom: ($vert-line-height / 2);
      padding-bottom: ($vert-line-height / 2);
      width: 100%;
    }
    
    .expired img {
      opacity: .5;
    }
    
    @include media($small-up) {

      .grid__item:first-child {
        padding-right: $page-gutter;
      }
      .grid__item:last-child {
        padding-left: $page-gutter;
      }
    }

    @include media($large-up) {

      .grid__item:first-child {
        padding-right: ($page-gutter * 2);
      }
      .grid__item:last-child {
        padding-left: ($page-gutter * 2);
      }
    }
  }
}


.load-more {
  padding: $vert-line-height 0;
  text-align: center;

  &__current {
    padding-bottom: ($vert-line-height/2);
  }

  .button {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include media($large-up) {

    &__current {
      padding-right: $page-gutter;
      padding-bottom: 0;
    }

    & > p {
      display: inline-block;
      vertical-align: middle;
    }
  }
}