//<div class="deal-filters">
//  <div class="accordion js-accordion">
//    <h3><a href="#" class="js-accordion-trigger">Filter Deals <span class="fa fa-plus-square" aria-hidden="true"></span></a></h3>
//    
//    <div id="filters" class="js-accordion-container accordion__container">
//      <div class="deal-filters__group">
//        <h4>Sort by:</h4>
//        <p><span class="fa fa-circle-o" aria-hidden="true"></span> Expiring Soon</p>
//      </div>
//      <div class="deal-filters__group">
//        <h4>Locations:</h4>
//        <div class="deal-filters__sub-group">
//          <h5>Regions</h5>
//          <p><span class="fa fa-circle-o" aria-hidden="true"></span> Upper West</p>
//        </div>
//        <div class="deal-filters__sub-group">
//          <h5>Select a State</h5>
//          <select>
//            <option [...]

.deal-filters {
  padding-bottom: $vert-line-height;
  
  @include media($medium-up) {
    padding-right: ($page-gutter * 2);
  }
  
  h3 a {
    
    .fa {
      @include hide();
    }
  }
  
  &__group {
    border-bottom: 1px solid $color-borders;
    padding-bottom: ($vert-line-height/2);
    margin-bottom: ($vert-line-height/2);
    
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
  
  &__sub-group {
    padding-bottom: $vert-line-height;
  }
}


.accordion {
  
  &__container {
    padding-top: $page-gutter;
  }
}


@media (max-width: 759px) {
  
  .js .js-accordion h3 {
    border: 1px solid $color-borders;
    padding: .5rem 1rem .375rem;
    position: relative;
    
    a {
      display: block;
      padding-right: 3rem;
    }
    
    .fa {
      @include show(inline);
      font-size: 125%;
      position: absolute;
      top: .875rem;
      right: 1rem;
    }
    
    a .fa-minus-square {
      opacity: 0;
      transition: opacity 250ms ease;
    }
    a.open .fa-minus-square {
      opacity: 1;
    }
  }
  
  .js .js-accordion-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease;
    
    &.open {
      max-height: 360px;
    }
    
    .deal-filters__group {
      padding: 0 $page-gutter;
    }
  }
}