
//<div class="form__group form__input-button-pair deal__redeem__copycode">
//  <input class="form__input deal__redeem__input" value="XYZ123" readonly="">
//  <a href="#" class="button button__primary" title="Copy to Clipboard"><span class="fa fa-clipboard" aria-hidden="true"></span> Copy</a>
//</div>

$copy-code-button-width: 120px; // Magic number

.form {
  
  &__input {}
  
  &__input-button-pair {

    input,
    .button {
      vertical-align: middle;
      margin-left: 0;
      margin-right: 0;
    }
    
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: calc(100% - #{$copy-code-button-width});
    }
    
    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -10px;
      min-width: $copy-code-button-width;
      padding: .5em .75em .375em;
      text-align: center;

      @include media($medium-up) {
        padding: .625em 1em .5em;
      }
    }
  }
  
  &__group {
    padding-bottom: $vert-line-height;
  }
  
  &__actions {}
  
  &__submit {}
}


// Add some padding to the grid__items when side by side
.form .grid--duo {

  @include media($small-up) {

    .grid__item:first-child {
      padding-right: ($page-gutter/2);
    }

    .grid__item:last-child {
      padding-left: ($page-gutter/2);
    }
  }
}