//<div id="top" class="drawer">
//	<a href="javascript:;" class="drawer__close js-menu-close"></a>
//</div>
//<div class="layout">
//	<header id="b365-mainnav" class="mainhead">
//		<div class="utility layout__utility">
//			<ul class="utility__list menu" role="navigation">
//  			<li class="utlity__lang"><a href="#">English</a> / <a href="#">Españgol</a></li>
//  			<li><a href="#">About Blue365</a></li>
//  		</ul>
//    </div>
//  	<div class="mainnav layout-__mainnav">
//    	<div class="mainhead__brand">
//      	<a class="mainhead--title" href="{{ site.baseurl }}">Blue365</a>
//      </div>
//      <div class="search">
//        <div class="menu-action">
//          <a href="javascript:;" class="menu-action__button js-menu-toggle"><span class="menu-action__icon">&equiv;</span></a>
//        </div>
//      	<form class=""> [...] </form>
//      </div>
//			<ul class="mainnav__list menu" role="navigation">
//				<li><a href="#">How it Works</a></li>
//				<li><a href="#">Sign In</a> / <a href="#">Sign Up</a></li>
//			</ul>
//  	</div>
//  	<div class="catnav layout__catnav">
//  		<nav class="catnav__wrapper">
//  			<ul class="catnav__list">
//  				<li><a href="#">Apparel & Wearables</a></li>
//  			</ul>
//  		</nav>
//  	</div>
//	</header>

$drawer-width: 280px;
$body-bg-color: palette(mono, 90);
$layout-bg-color: palette(mono, white);


.mainhead {
  background-color: $body-bg-color;
  color: palette(mono, white);
  padding: $page-gutter;

  a {

    @include touch-hover('idle') {
      color: palette(mono, white);
    }

    @include touch-hover('hover') {
      color: palette(mono, 25);
    }
  }

  &__brand {
    
    @include media($small-up) {
      order: 1;
    }
  }
  
  &__title {
    @extend .charlie;
  }
}

.utility {
  @include hide();
  
  &__list {}
  
  &__lang {}
}

.mainnav {
  
  &__list {
    @include hide();
    
    @include media($small-up) {
      @include show(inline-block);
      order: 2;
      flex-grow: 2;
      text-align: right;
      
      li {
        display: inline-block;
        padding-right: $page-gutter;
      }
    }
  }
}

.search {
  
  form {
    display: inline-block;
    vertical-align: middle;
  }
  
  &__wrapper {
    display: block;
    padding: .6875rem 1rem .625rem;
    margin-bottom: 0;
    
    &:after {
      @include icon-font('\f002');
      font-size: 1.25em;
      color: #fff;
    }
  }
  
  &__input,
  &__button {
    @include hide();
  }
  
  @include media($small-up) {
    order: 3;
  }
}

.menu-action {
  border: $form-input-border-width solid $form-input-border-color;
  border-radius: $form-input-border-radius;
  display: inline-block;
  vertical-align: middle;
  
  &__button {
    display: block;
    font-size: 1.25em;
    padding: .5rem 1rem .375rem;
  }
  
  &__icon {}
}

.catnav {
  @include hide();
  
  &__wrapper {}
  
  &__list {}
}


body {
  @include transition( transform 250ms ease );
  background-color: $body-bg-color;
  overflow-x: hidden;

  &.js-menu-open {
    @include transform( translateX($drawer-width) );
  }
}

.drawer {
  @include transition( transform 350ms ease );
  @include transform( translateX( - ($drawer-width * 2) ) );
  position: absolute;
  top: 0;
  left: 0;
  width: $drawer-width;
  height: 100vh;
  overflow-y: scroll;
  
  body.js-menu-open & {
    @include transform( translateX(- $drawer-width) );
  }
  
  body &__close {
    @include transition(all 500ms ease);
  }
  
  body.js-menu-open &__close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(palette(mono, white), .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6px);
    
    &:before {
      @include transition(all 250ms ease);
      @include icon-font('\f00d');
      border: $form-input-border-width solid palette(mono, 75);
      border-radius: $form-input-border-radius;
      color: palette(mono, black);
      font-size: 1.5em;
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: .5rem .75rem;
    }
    
    &:hover:before,
    &:focus:before {
      border-color: palette(brand);
      color: palette(brand);
    }
  }
  
  &__nav {
    display: flex;
    flex-flow: column;
    // negate tthe padding from mainhead
    padding: 0;
    
    .brand,
    .search {
      @include hide();
    }
    
    .utility,
    .catnav,
    .mainnav__list {
      @include show();
      
      a {
        padding: .5rem 1rem .375rem;
      }
    }
    
    // Change the order
    .utility {
      order: 2;
    }
    
    .mainnav {
      order: 1;
    }
    
    .catnav {
      order: 3;
      padding-top: $vert-line-height;
      
      &:before {
        content: 'Browse Deals:';
        color: palette(mono, 33);
        display: block;
        font-size: 87.5%;
        font-weight: $font-weight-bold;
        letter-spacing: .0625em;
        padding: .5rem 1rem .375rem;
        text-transform: uppercase;
      }
    }
    
    // Media
    @include media($small-up) {

      .mainnav__list {
        @include hide();
      }
    }
  }
}