$drawer-width: 280px;
$body-bg-color: palette(mono, 15);
$layout-bg-color: palette(mono, white);
$bp-drawer-not-in-use: bp(large);
$link-padding: .5675rem .75rem .4375rem;


// Structure
//<div id="sitetop" class="drawer">
//  <ul class="drawer__list menu">
//  </ul>
//</div>
//<div class="layout">
//  <header class="mainhead">
//    <div class="mobilenav mainhead__mobilenav"></div>
//    <div class="utility mainhead__utility">
//      <ul class="utility__list menu">
//        <li class="utility__lang"><a href="#"><span data-abbr="En">English</span></a></li>
//      </ul>
//    </div>
//    <div class="userauth mainhead__userauth">
//      <ul class="userauth__list menu">
//        <li id="searchbox" class="userauth__search js-clone"></li>
//        <li class="userauth__actions"></li>
//      </ul>
//    </div>
//    <div class="brand mainhead__brand">
//      <a class="brand__link" href="#"></a>
//    </div>
//  </header>
//  <div class="catnav">
//    <div class="catnav__search-glass"></div>
//    <nav class="catnav__wrapper"></nav>
//    <div class="catnav__overflow"></div>
//  </div>
//</div>
//<a href="javascript:;" class="drawer__close js-menu-close"></a>


// Need a transition here, some color, and actions when a new class is added
body {
  background-color: $body-bg-color;
  overflow-x: hidden;

  @media (max-width: $bp-drawer-not-in-use) {
    transition: transform 250ms ease;

    &.js-menu-open {
      transform: translateX($drawer-width);
    }
  }
}


.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: $drawer-width;
  height: 100vh;
  overflow-y: scroll;
  transition: transform 350ms ease;
  transform: translateX( - ($drawer-width * 2) );

  &__list {

    // Because... specificity
    &.menu {
      margin-top: $page-gutter;
    }

    a {
      padding: $link-padding;
    }

    // A bit brittle, I know. But Drupal may not help us here much later, either
    li:nth-child(2) {
      padding-bottom: $vert-line-height;
    }
  }


  // Ruleset for the open/close effect
  body.js-menu-open & {
    transform: translateX(- $drawer-width);
  }

  body &__close {
    transition: all 500ms ease;
    position: absolute;
  }

  // Position a transparent element over the exposed area to make it clickable
  body.js-menu-open &__close {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: zindex(top);
    background-color: rgba(palette(mono, white), .5);
    // This is fun...
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6px);

    &:before {
      @include icon-font('\f00d');
      border: $form-input-border-width solid palette(mono, 75);
      border-radius: $form-input-border-radius;
      color: palette(mono, black);
      font-size: 1.5em;
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: .5rem .75rem;
      transition: all 250ms ease;
    }

    // No need to support touch events here
    &:hover:before,
    &:focus:before {
      border-color: palette(brand);
      color: palette(brand);
    }
  }
}


.mainhead {
  background-color: $layout-bg-color;
  color: palette(mono, 66);
  padding: $page-gutter $page-gutter 0;


  // Structure
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;

  // 1. in order
  &__mobilenav {
    margin-right: auto;
  }
  
  // 2. in order
  &__utility {}
  
  // 3. in order
  &__userauth {
    margin-left: $page-gutter;
  }
  
  // 4. in order
  &__brand {
    width: 100%;
    
    .brand__img {
      margin: 0 auto;
      //max-width: 400px;
      
      @media (min-width: 432px) {
        max-width: 400px;
      }
    }
  }
  
  @include media($small-up) {
    
    &__userauth {
      margin-left: auto;
      order: 4;
      text-align: right;
      width: 45%;
    }
    
    &__brand {
      order: 3;
      width: 55%;
      
      .brand__img {
        margin: 0;
        max-width: 328px;
      }
    }
  }

  @include media($medium-up) {
    padding-top: ($page-gutter / 2);
  }
}


// Hamburger button
//<div class="mobilenav mainhead__mobilenav">
//  <div class="menu-action">
//    <a href="#sitefoot" class="menu-action__button js-menu-toggle"><span class="fa fa-bars" aria-hidden="true"></span></a>
//  </div>
//</div>

.mobilenav {

  @media (min-width: $bp-drawer-not-in-use) {
    @include hide();
  }
}

.menu-action {
  border: $form-input-border-width solid $form-input-border-color;
  border-radius: $form-input-border-radius;

  &__button {
    display: block;
    font-size: 1.25em;
    padding: .25rem $page-gutter .125rem;
  }

  &__icon {}
}


// Utility Navigation
//<div class="utility mainhead__utility">
//  <ul class="utility__list menu">
//    <li class="utility__lang"><a href="#" data-abbr="En"><span>English</span></a> / <a href="#" data-abbr="Es"><span>Español</span></a></li>
//    <li><a href="#">Healthy Tips Blog</a></li>
//  </ul>
//</div>

.utility {

  // Iniitially hide all but the first one
  li:nth-child(n+2) {
    @include hide();
  }

  &__list {
    
    li {
      display: inline-block;
      margin-right: -4px;
      vertical-align: middle;
    }
    
    a {
      padding: $link-padding;
    }
  }

  &__lang {

    a {
      display: inline-block;
      vertical-align: middle;

      &:first-child {
        padding-right: 0;
      }
      
      &:last-child {
        padding-left: 0;
      }

      &:after {
        // Show the abbreviation
        content: attr(data-abbr);
      }

      span {
        // Hide the non-abbreviated content
        @include hide();
      }

      @include media($small-up) {

        &:after {
          // Hide the abbreviation
          content: '';
        }

        span {
          // Show the non-abbreviated content
          @include show(inline);
        }
      }
    }
  }
  
  @media (min-width: bp(base)) {
    
    // Show the last one, which should be About Us
    li:nth-child(4) {
      @include show(inline-block);
    }
  }
  
  @include media($small-up) {
    
    // Show the second one, which should be Healthy Tips
    li:nth-child(2) {
      @include show(inline-block);
    }
  }
  
  @include media($medium-up) {
    
    // Show all
    li:nth-child(n+2) {
      @include show(inline-block);
    }
  }
}


// User Authentication & Search
//<div class="userauth mainhead__userauth">
//  <ul class="userauth__list menu">
//    <li id="searchbox" class="userauth__search js-clone">
//      
//      <div class="search">
//        <form class="search__form userauth__search__form">
//          <fieldset class="search__wrapper">
//            <label class="screen-reader-text">Search Deals</label>
//            <input class="search__input" type="search" placeholder="Search our Deals">
//            <input class="search__button" type="submit" value="Go">
//          </fieldset>
//        </form>
//      </div>
//      
//    </li>
//    <li class="userauth__actions logged-out">
//      <a href="{{ site.baseurl }}sign-in.html" class="button button__secondary">Sign In</a> 
//      <a href="{{ site.baseurl }}sign-in.html#join" class="button button__primary">Join</a>
//    </li>
//    <li class="userauth__actions logged-in">
//      <a href="{{ site.baseurl }}user-profile.html">Hello, Giovana</a>
//      <ul class="menu">
//        <li><a href="{{ site.baseurl }}user-profile.html">My Account</a></li>
//        <li><a href="#">My Favorites</a></li>
//        <li><a href="#">My History</a></li>
//        <li><a href="#" class="js-set-logout">Sign Out</a></li>
//      </ul>
//    </li>
//  </ul>
//</div>

.userauth {
  
  &__list {}
  
  &__search {
    @include hide();
  }
}


// Brand
//<div class="brand mainhead__brand">
//  <a class="brand__link" href="{{ site.baseurl }}index.html">
//    <img class="brand__img" src="{{ site.baseurl }}assets/img/placeholder-logo.jpg" alt="BlueCross BlueShield of Illinois | Blue365" />
//  </a>
//</div>

.brand {
  padding: $vert-line-height 0;
}


// Utility navigation
//<div class="catnav">
//  <div class="catnav__search-glass">
//    <a href="javascript:;" class="js-search-trigger" title="Search the Site">
//      <span class="fa fa-search" aria-hidden="true"></span>
//    </a>
//    <div id="searchbox__clone" class="catnav__search"></div>
//  </div>
//  <nav class="catnav__wrapper">
//    <div class="catnav__scroller">
//      <ul id="categories" class="catnav__list js-clone">
//        {% include navigation/deal-categories.html %}
//      </ul>
//    </div>
//  </nav>
//  <div class="catnav__overflow">
//    <a href="javascript:;" class="js-catoverflow-trigger">
//      <span class="fa fa-ellipsis-v" aria-hidden="true"></span>
//    </a>
//    <div class="catnav__overflow__subnav">
//      <ul id="categories__clone" class="catnav__list"></ul>
//    </div>
//  </div>
//</div>

$icon-width: 44px; // Magic number

.catnav {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  border-top: 1px solid $color-borders;
  border-bottom: 1px solid $color-borders;
  width: 100%;
  position: relative;
  z-index: zindex(catnav);

  &__search-glass,
  &__overflow {

    & > a {
      display: block;
      padding: .5rem .875rem;
      width: $icon-width;
      text-align: center;
    }

    @media (min-width: $bp-drawer-not-in-use) {
      @include hide();
    }
  }
  
  &__search-glass {
    border-right: 1px solid $color-borders;

    a {
      position: relative;

      .close {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 250ms ease;
      }
      
      &.js-search-trigger.open {
        
        .open {
          opacity: 0;
        }
        
        .close {
          opacity: 1;
        }
      }
    }
  }
  
  //<div id="searchbox__clone" class="catnav__search">
  //  <div class="search">
  //    <form class="search__form userauth__search__form">
  //      <fieldset class="search__wrapper">
  //        <label class="screen-reader-text">Search Deals</label>
  //        <input class="search__input" type="search" placeholder="Search our Deals">
  //        <input class="search__button" type="submit" value="Go">
  &__search {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: $icon-width + 1;
    z-index: (zindex(catnav) + 1);
    white-space: nowrap;
    width: 0;
    transition: width 500ms ease;

    fieldset {
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      padding: 0;
    }
    
    .search__input {
      border: 0;
      padding: 9px 8px 7px;
      margin: 0 -4px 0 0; // The -4px accounts for space around an inline-block object
      width: calc(100% - 52px); // width of the GO button
    }
    
    .search__button {
      border: 0;
      border-radius: 0;
      margin: 0;
      padding: 9px 16px 7px;
    }
    
    .js-search-trigger.open + & {
      width: calc(100% - #{$icon-width + 1px});
    }
  }

  &__wrapper {
    position: relative;

    &:after {
      content: '';
      background-image: linear-gradient(to right, rgba(#fff, 0) 0%,rgba(#fff, 1) 100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none; // allow click events to "pass through" this element
      width: 2rem;
      
      @media (min-width: $bp-drawer-not-in-use) {
        @include hide();
      }
    }
  }
  
  &__scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: calc(100vw - #{$icon-width * 2}); // Magic number times 2
    -ms-overflow-style: -ms-autohiding-scrollbar;

    @media (min-width: $bp-drawer-not-in-use) {
      overflow: hidden;
      width: auto;
    }
  }
  
  &__list {
    white-space: nowrap;
    
    li {
      display: inline-block;
      
      a {
        padding: $link-padding;
      }
    }
  }


  // The vertical ellipses button and a clone of the category navigation contents
  &__overflow {
    border-left: 1px solid $color-borders;
    position: relative;

    &__subnav ul {
      top: -999em;
      opacity: 0;
      position: absolute;
      right: ($page-gutter / 2);
      z-index: zindex(overflownav);
      background-color: palette(mono, white);
      border: 1px solid $color-borders;
      box-shadow: 0 1px 3px rgba(#000, 0.25);
      margin-top: $page-gutter;
      transition: opacity 250ms ease 0, top 0 linear 250ms;

      &:before {
        content: '';
        display: block;
        background-color: palette(mono, white);
        border-top: 1px solid $color-borders;
        border-left: 1px solid $color-borders;
        position: absolute;
        top: -.4rem;
        right: .4rem;
        width: .8rem;
        height: .8rem;
        transform: rotate(45deg);
      }

      li {
        display: list-item;
      }

      .js-catoverflow-trigger.open + & {
        top: 100%;
        opacity: 1;
        transition: opacity 250ms ease 0, top 0 linear 0;
      }
    }
  } // end &__overflow
}