.layout {
  background-color: $layout-bg-color;
  position: relative;

  &__container {
    min-width: $min-width;
    max-width: $max-width;
    margin: 0 auto;

    /*body*/.full-width & {
      //max-width: none;
    }

    &--text {
      min-width: $min-width;
      max-width: $text-max-width;
      margin: 0 auto;
    }
  }

  &__padding {
    padding-top: $vert-line-height;
    padding-bottom: $vert-line-height;
  }

  &__content {
    padding: 0 $page-gutter;
    
    .for-employers &,
    .contact-us &,
    .sign-in-body & {
      padding: 0;
    }
  }

  &__title {
    padding: 0 0 ($vert-line-height/2);
    width: 100%;
  }
}
