@mixin icon-font($content) {
  content: $content;
  display: inline-block;
  font-size: inherit;
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}