.modal {
  position: relative;
  background: palette(mono, white);
  margin: $vert-line-height auto;
  padding: $page-gutter;
  width: auto;
  
  .form {
    & > h4 {
      margin-bottom: $vert-line-height;
      overflow: hidden;
      position: relative;
      text-align: center;
      
      &:before {
        content: '';
        display: block;
        border-top: 2px solid palette(mono, 75);
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 0;
      }
      
      span {
        background-color: palette(mono, white);
        padding: 0 $page-gutter;
        position: relative;
        z-index: 2;
      }
    }
  }
  
  $gutter-as-ems: strip-units($page-gutter) * 1em;
  
  @include media($small-up) {
    max-width: bp(small) - ($gutter-as-ems * 4);
  }
  
  @include media($medium-up) {
    max-width: bp(medium) - ($gutter-as-ems * 4);
  }
  
  @include media($large-up) {
    max-width: bp(large) - ($gutter-as-ems * 4);
  }
}

#signup {}

#redeem {

  .deal__redeem__title,
  .deal__redeem__message {
    text-align: center;
  }

  .deal__redeem__continue,
  .deal__redeem__online,
  .deal__redeem__instore {
    justify-content: center;
    text-align: center;
  }
}


@import "magnific-popup";