//<div class="promo__wrapper">
//  <div class="promo__content entry-content">
//    <h3>Interested in discounts for your company?</h3>
//    <p>Learn about our employer offerings.</p>
//    <p><a href="#" class="button button__secondary">Learn More</a></p>
//  </div>
//</div>

.promo {
  
  &__wrapper {
    align-content: center;
    background-color: percent-color(palette(brand), 75%);
    color: palette(mono, white);
    padding: $vert-line-height $page-gutter;
    
    h3 {
      color: palette(mono, white);
    }
  }
}