//<div class="grid grid__rail-left sidebar--rail-left">
//  <aside id="wayfinding" class="grid__item grid__item__aside">
//    <div class="wayfinding__wrapper js-adhesive">
//      
//      <div class="sidebar sidebar--navigation">
//        <h4 class="sidebar__title">About Blue365</h4>
//        <ul class="sidebar__list menu" role="navigation">
//    			{% include navigation/about-b365.html %}
//    		</ul>
//  		</div>

.sidebar {
  padding: $vert-line-height $page-gutter;

  &__title {
    margin-bottom: .125rem;
  }

  &__list  {

    li {
      // Tighten line height on multi-line items
      line-height: 1.25;
      // Visually space things out to reflect the overall vertical rhythm
      margin-bottom: .5625rem;
    }
  }

  @include media($large-up) {
    padding-right: ($page-gutter * 2);
  }

  &--navigation {}

  &--rail-left,
  &--rail-right {

    .grid__item__rail {
      padding-left: 0;
      padding-right: 0;
    }
  }
}