.sign-in {
  
  &__wrapper {
    background-color: palette(mono, 10);
    border: 1px solid $color-borders;
    border-radius: 3px;
    padding: $page-gutter;
    margin-bottom: $vert-line-height;
  }
}


.join {
  
  &__wrapper {
    @extend .sign-in__wrapper;
  }
}