.text-over-line {
  margin-bottom: $vert-line-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  
  span {
    display: inline-block;
    padding: 0 $page-gutter;
    position: relative;
    z-index: 2;
    
    &:before,
    &:after {
      content: '';
      display: block;
      border-top: 2px solid palette(mono, 25);
      position: absolute;
      top: 50%;
      width: 250%;
      z-index: 0;
    }

    &:before {
      right: 100%;
    }
    
    &:after {
      left: 100%;
    }
  }
}

.sign-in {
  
  &__wrapper {
    background-color: palette(mono, 10);
    border: 1px solid $color-borders;
    border-radius: 3px;
    padding: $page-gutter;
    margin-bottom: $vert-line-height;
  }
}

.form--login-form {

  .form__actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.form--login-form,
.form--join-form {
  
  .social-logins {
    text-align: center;
  }
}


.join {
  
  &__wrapper {
    @extend .sign-in__wrapper;
  }
}

// From Refills
//<ul class="accordion-tabs menu">
//  <li class="tab-header-and-content">
//    <a href="javascript:void(0)" class="is-active tab-link">Sign In</a>
.tab-link {
  @extend .delta;
  text-transform: none;

  @include touch-hover() {
    color: palette(brand);
    text-decoration: underline;
  }
  @include touch-hover('hover') {
    color: palette(mono, 75);
    text-decoration: none;
  }
}

.tab-link.is-active {
  
  @include touch-hover() {
    color: palette(mono, 75);
    text-decoration: none;
    cursor: default;
  }
  @include touch-hover('hover') {
    color: palette(mono, 75);
    text-decoration: none;
  }
}